:host([theme~="my-dialog"]) [part="overlay"] {
  overflow: hidden;
}

:host([theme~="my-dialog"]) [part="content"] {
  padding: 0;
}

:host([theme~="my-dialog"][theme~="dock"]) {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

:host([theme~="my-dialog"][theme~="dock"]) [part="overlay"] {
  bottom: 0;
  height: auto !important;
  left: auto !important;
  position: absolute;
  right: 0;
  top: auto !important;
}

:host([theme~="my-dialog"][theme~="fullscreen"]) [part="overlay"] {
  bottom: 0;
  left: 0 !important;
  position: absolute;
  right: 0;
  top: 0 !important;
}