<!DOCTYPE html>
<!-- Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
         
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License. -->
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"  
	xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/causeway-thymeflux.css}">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> -->
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/1.8.6/dist/htmx.min.js}" defer></script>
</head>
<body>

<div class="container">

	<div id="title">
		<h1>Apache Causeway - Thymeflux Features</h1>
	</div>

	<h2>HTMX - On Click</h3>
	<p>
		<label class="hx-greeting">Hello World!</label>
		
		<button type="button" class="btn btn-primary" 
		th:hx-post="@{/tflux-features/htmx/greeting}"
        hx-trigger="click"
        hx-target=".hx-greeting"
        hx-swap="innerHTML">Change greeting</button>
	</p>
	
	<h2>HTMX - Text Input Echo</h3>
	<p>
		
		<input class="form-control" type="search" name="search" placeholder="Search ..."
			th:hx-post="@{/tflux-features/htmx/echo}"
        	hx-trigger="keyup changed delay:400ms, search"
        	hx-target=".hx-echo"
        	hx-swap="innerHTML"
        	hx-indicator=".htmx-indicator">
        	
       	<div class="htmx-indicator spinner-border" role="status">
  			<span class="visually-hidden">Loading...</span>
		</div>
		
		<label class="hx-echo">Hello World!</label>
	</p>

	<h2>Object Quick List</h3>
	<p>
		<ul class="list-group">
		  <li class="list-group-item active" aria-current="true">An active item</li>
		  <li class="list-group-item">A second item</li>
		  <li class="list-group-item">A third item</li>
		  <li class="list-group-item">A fourth item</li>
		  <li class="list-group-item">And a fifth one</li>
		</ul>
	</p>
	

	<h2>Single Select</h3>
    <p>
		<select class="form-select">
		  <option selected>None</option>
		  <option value="1">One</option>
		  <option value="2">Two</option>
		  <option value="3">Three</option>
		</select>
	</p>
	
	<h2>Multi Select</h3>
    <p>
	    <div class="card" style="width: 18rem;">
		  <div class="card-header">
		    <input class="form-control" type="search" name="search" placeholder="Search ...">
		  </div>
		  <ul class="list-group list-group-flush">
		      <li class="list-group-item">
			    <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
			    <label class="form-check-label" for="firstCheckbox">First checkbox</label>
			  </li>
			  <li class="list-group-item">
			    <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
			    <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
			  </li>
			  <li class="list-group-item">
			    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
			    <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
			  </li>
		  </ul>
		</div>
	</p>
	
	<h2>Progress Bar</h3>
    <p>
		<th:block>
			<div th:replace="basic/progressbar :: progress(${progress})"></div>
		</th:block>
	</p>
	

</div>

</body>
</html>