/*

I will show you how to change a height of a standard Bootstrap navbar.

*/

.navbar {
    min-height: 24px;
    height: 24px;
}

.navbar-brand {
    height: 24px;
    line-height: 24px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.btn-link {
    height: 35px;
    margin-top: -8px;
}

.tabulator-col-content {
    padding: 2px 2px !important;
}

div.tabulator-cell {
    height: 35px;
}

div.tabulator-header {
    font-weight: lighter !important;
}

.text-danger {
    color: red !important;
}

.text-normal {
    color: black;
}
