*~
*.swp
*.class
bin/
target/
target-ide/
logs/
.settings/
.project
.classpath
.idea
*.iml

component/objectstore/sql/sql-tests-common/hsql-db/
component/objectstore/sql/sql-tests-common/xml/
component/objectstore/xml/tmp/objects/
component/objectstore/xml/xml/objects/
component/objectstore/xml/tmp/tests/
component/security/sql/hsql-db/

# log files
datanucleus.log
isis.log

# Package Files #
*.jar
*.war
*.ear

pom.xml.tag
pom.xml.releaseBackup
