*~
*.swp
*.class
target/
target-ide/
logs/
.settings/
.project
.classpath

framework/component/objectstore/sql/sql-tests-common/hsql-db/
framework/component/objectstore/sql/sql-tests-common/xml/

framework/component/objectstore/xml/tmp/objects/
framework/component/objectstore/xml/xml/objects/
framework/component/objectstore/xml/tmp/tests/

framework/component/security/sql/hsql-db/
framework/component/runtimes/dflt/objectstores/jdo/jdo-datanucleus/hsql-db/

# log files
datanucleus.log
isis.log

# Package Files #
*.jar
*.war
*.ear
