language: java

sudo: true

install: true

jdk:
  - oraclejdk9

addons:
  apt:
    sources:
      - sourceline: "deb https://dl.yarnpkg.com/debian/ stable main"
      - key_url: "https://dl.yarnpkg.com/debian/pubkey.gpg"
    packages:
      - yarn

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - "$HOME/.gradle/caches/"
    - "$HOME/.gradle/wrapper/"
    - "$HOME/.config/yarn/global/"
    - "$HOME/.yarn-cache/"

stages:
  - name: build
  - name: publish
    if: branch = master

jobs:
  include:
    - stage: build
      script:
        - ./gradlew clean build --console=plain
        - yarn
        - yarn test

    - stage: publish
      script:
        - ./gradlew clean build --console=plain
        - ./publish-all.sh
