/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

.collectionContentsAsAjaxTablePanel table.contents {
	font-size: 0.9em;
	width: 100%;
	border-collapse:collapse;
	margin-top:10px;
}

.collectionContentsAsAjaxTablePanel table.contents caption { text-align: left; }
.collectionContentsAsAjaxTablePanel table.contents tr { 
}

.collectionContentsAsAjaxTablePanel table.contents tr.even { background-color: #FFFFFF; }
.collectionContentsAsAjaxTablePanel table.contents tr.odd { background-color: #F0EFEA; }

.collectionContentsAsAjaxTablePanel table.contents tr:hover td {
	background-color:#D2F0F3;
}

.collectionContentsAsAjaxTablePanel table.contents tr.reloaded-after-concurrency-exception {
    background-color: yellow;
}

.collectionContentsAsAjaxTablePanel table.contents tr.reloaded-after-concurrency-exception:hover td {
    background-color: orange;
}


.collectionContentsAsAjaxTablePanel table.contents tr td { 
	padding-left: 8px; 
	padding-right: 10px; 
	padding-left: 4px;
	padding-right: 4px;
}
.collectionContentsAsAjaxTablePanel table.contents tr th,
.collectionContentsAsAjaxTablePanel table.contents tr th a span { 
	color: #FFFFFF;
	background-color: #46423C;
	text-align: left; 
	white-space: nowrap; 
	text-transform:uppercase;
	font-weight:bold;
}

.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderUp a span ,
.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderDown a span {
    background-color: #20B5C2;
}

.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderUp a:hover,
.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderDown a:hover {
    color: #46423C;
}

.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderDown {
	background-color: #20B5C2; 
	background-image: url("images/arrow_down.png");
    background-position: right;
    background-repeat: no-repeat;
}
.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderUp {
	background-color: #20B5C2; 
	background-image: url("images/arrow_up.png");
    background-position: right;
    background-repeat: no-repeat;
}
.collectionContentsAsAjaxTablePanel table.contents tr th.wicket_orderNone {
	background-image: url("images/arrow_off.png");
	background-position: right;
    background-repeat: no-repeat;
}
.collectionContentsAsAjaxTablePanel table.contents tr th a {
	font-weight: normal;
}
.collectionContentsAsAjaxTablePanel table.contents #message {
	padding-left: 3px;
}
.collectionContentsAsAjaxTablePanel table.contents caption { 
	padding-bottom: 2px;
}

.collectionContentsAsAjaxTablePanel table.contents input:disabled {
	background-color: transparent;
	border: none;
}

.collectionContentsAsAjaxTablePanel table.contents tbody td,
.collectionContentsAsAjaxTablePanel table.contents thead th {
	padding:5px;
	text-transform:uppercase;
}

.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigatorLabel {
	display: inline;
}

.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigatorLabel > div {
	display: inline;
}

.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigator {
	display: inline;
}

.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigator > div {
	display: inline;
	float: right;
}

.collectionContentsAsAjaxTablePanel table.contents img {
    width: 16px;
    height: 16px;
}

.collectionContentsAsAjaxTablePanel table.contents tbody td:first-child {
    min-width: 20px;
}

.collectionContentsAsAjaxTablePanel table.contents .navigator  a.first,
.collectionContentsAsAjaxTablePanel table.contents .navigator  a.prev,
.collectionContentsAsAjaxTablePanel table.contents .navigator  a.next, 
.collectionContentsAsAjaxTablePanel table.contents .navigator  a.last,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .goto a,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .goto em,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .first em,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .prev em,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .next em,
.collectionContentsAsAjaxTablePanel table.contents .navigator  .last em {
	margin-left: 5px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#F0EFEA;
	width:20px;
	height:20px;
	line-height:20px;
	float:left;
	text-align:center;
}

.collectionContentsAsAjaxTablePanel table.contents .navigator .goto em {
	background-color: #20B5C2;
	color:#FFFFFF;
}

.collectionContentsAsAjaxTablePanel table.contents a {
	color:#46423C;
}

.collectionContentsAsAjaxTablePanel table.contents a:hover {
	text-decoration:underline;
	color:#20B5C2;
}

.collectionContentsAsAjaxTablePanel table.contents .entityLinkSelect2Panel .entityImage {
	padding-right:6px;
}

.collectionContentsAsAjaxTablePanel table tfoot {	
	margin-top:20px;
}

.collectionContentsAsAjaxTablePanel table tfoot tr td {
	padding:20px 4px 0px;
	background-color:#FFFFFF !important;
}

.collectionContentsAsAjaxTablePanel .actions {
	margin-top: -1px;
    margin-bottom: -10px;
    float: left;
    padding:0em 0em;
}

.collectionContentsAsAjaxTablePanel .entityActions .cssMenuPanel .menuh a:hover
    {
    color: #000;
    background-color:#E3E3D9;
}

/* bootstrap seems to set to 'pointer' */
.collectionContentsAsAjaxTablePanel label:hover {
	cursor: default;
}

.collectionContentsAsAjaxTablePanel td div {
    display: table-cell;
}

.collectionContentsAsAjaxTablePanel div input[type=text][disabled] {
    padding: 0px;
}
