/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */


/* copied from CssMenuPanel.css (since deleted that panel */



.cssMenuPanel span.clear {
    line-height: 3px;
}

.cssMenuPanel .menuh .small {
    float: none;
    display: inline;
}

.cssMenuPanel .menuh p .small {
    float: none;
    display: inline;
}

.menuh a,.menuh p {
    text-align: left;
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 1px;
    padding-right: 1.6em;
    padding-left: 0.4em;
    font-weight: normal;
    cursor: default;
}

.cssMenuPanel .menuh a:hover {
    text-decoration: underline;
}

.cssMenuPanel .menuh a.top-parent,.cssMenuPanel .menuh p.top-parent {
    background-position: right center;
    background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.top-parent:hover,.cssMenuPanel .menuh p.top-parent:hover	{
    background-position: right center;
    background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.parent,.cssMenuPanel .menuh p.parent {
    background-position: right center;
    background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.parent:hover,.cssMenuPanel .menuh p.parent:hover	{
    background-position: right center;
    background-repeat: no-repeat;
}

.cssMenuPanel .menuh ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    display: inline;
}

.cssMenuPanel .menuh li {
    position: relative;
    min-height: 1px;
}

.cssMenuPanel .menuh ul ul {
    position: absolute;
    z-index: 500;
    top: auto;
    display: none;
    padding: 1em;
    margin: -1em 0 0 -1em;
}

.cssMenuPanel .menuh ul ul ul {
    top: 0;
    left: 100%;
}

.cssMenuPanel span.menuh a:hover {
    cursor: pointer;
    z-index: 100;
}

.cssMenuPanel span.menuh li:hover ul ul,.cssMenuPanel span.menuh li li:hover ul ul,.cssMenuPanel span.menuh li li li:hover ul ul,.cssMenuPanel span.menuh li li li li:hover ul ul {
    display: none;
}

.cssMenuPanel span.menuh li:hover ul,.cssMenuPanel span.menuh li li:hover ul,.cssMenuPanel span.menuh li li li:hover ul,.cssMenuPanel span.menuh li li li li:hover ul {
    display: block;
}

.cssMenuPanel li.cssSubMenuItem p.disabled {
    cursor: not-allowed;
}

.cssMenuPanel li.cssSubMenuItem {
    margin-left:0;
}

/******** overrides for grouped actions and entity actions ***************/
.groupedActions .cssMenuPanel li.cssMenuItemPanel>p.top-parent {
    display: none;
}

.groupedActions .cssMenuPanel .menuh ul {
    position: relative;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

.groupedActions .cssMenuPanel .menuh ul ul {
    position: relative;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

.groupedActions .cssMenuPanel .menuh li,
.groupedActions .cssMenuPanel .menuh li p	{
    float:left;
    display:block;
    margin-left:10px;
}

.groupedActions .cssMenuPanel .menuh a,.groupedActions .cssMenuPanel .menuh p
{
    display: inline-block;
    border: none;
}

.groupedActions .cssMenuPanel .menuh a:link,
.groupedActions .cssMenuPanel .menuh a:visited,
.groupedActions .cssMenuPanel .menuh a:active,
.groupedActions .cssMenuPanel .menuh p {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-weight: bold;
    /*font-size: 0.85em;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-decoration: none;
}

.entityActions .cssMenuPanel li.cssMenuItemPanel>p.top-parent {
    display: none;
}

.entityActions .cssMenuPanel .menuh ul {
    position: relative;
    display: block;
    float: right;
    margin: 0 0 10px;
    padding: 0;
}

.entityActions .cssMenuPanel .menuh ul ul {
    position: relative;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

.entityActions .cssMenuPanel .menuh li {
    float:left;
    display:block;
    margin-left:10px;
}

.entityActions .cssMenuPanel .menuh li p {
    float:left;
    display:block;
    margin-left:0;
}

.entityActions .cssMenuPanel .menuh a,
.entityActions .cssMenuPanel .menuh p {
    display: inline-block;
    /*border: none;*/
}

.entityActions .cssMenuPanel .menuh a,
.entityActions .cssMenuPanel .menuh a:link,
.entityActions .cssMenuPanel .menuh a:visited,
.entityActions .cssMenuPanel .menuh a:active,
.entityActions .cssMenuPanel .menuh p {
    display: block;
    float: left;
    height: 30px;
    /*line-height: 30px;*/
    padding: 4px 10px 0;
    /*font-size:0.85em;*/
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    text-decoration:none;
}

.additionalLinkList {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
}

.entityCollectionsPanel .panel-heading .additionalLinkList {
    margin-right: 10px;
}


.pull-right .additionalLinkListDropDown {
    margin-left: 0px;
}

.additionalLinkListDropDown li {
    float:left;
    margin-right:10px;
    /*	margin-bottom: 2px;*/
}

.additionalLinkListInline li > span,
.additionalLinkListInline li > a{
    float:left;
    margin-right:10px;
    margin-bottom: -5px;
}

.additionalLinkListInline ul.dropdown-menu li > a{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: inherit;
    margin-left: -20px;
}

.entityPropertiesPanel .additionalLinkList li {
    margin-right:0px;
}
.entityPropertiesPanel .properties .panel-heading .additionalLinkList {
    margin-right: -5px;
}





/**
 * Borrowed from http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
 */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu > li > a.menuLink {
    padding-left: 0;
}

.dropdown-menu > li > span.fa {
    padding-left: 3px;
}

.dropdown-menu .fontAwesomeIcon {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 20px;
}

.dropdown-menu > li > a.menuLink.btn-warning:hover {
    background-image: inherit;
}

.dropdown-menu > li > a.menuLink.menuLinkSpacer {
    padding-left: 39px;
}

.additionalLinkListDropDown span.additionalLinkItem.menuLinkSpacer {
    padding-left: 39px;
}

.additionalLinkListDropDown .dropdown-menu > li > a {
    padding-left: 0px;
}

.dropdown-menu > li > a.btn.btn-warning {
    text-align: start;
    border-radius: 0;
    color: initial;
}

.scrollable-menu {
    min-width: 250px;
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}