 -----
 Downloads
 -----
 The [[NAME]] Team
 -----

Downloads

  Scimpi is not yet available as a download. Please see the {{{getting-started.html} Getting Started}} page for details for creating a new web app using Maven.
  
* Documentation

  The documentation is available as a copy of this web site or PDF,
  
*-------------------------+---------+---------+
| Web Site | <jar> | {{{./scimpi-${current40xVersion}-site.jar} scimpi-${current40xVersion}-site.jar}} |
*-------------------------+---------+---------+
| Printed Documentation | <pdf> | {{{./scimpi-${current40xVersion}.pdf} scimpi-${current40xVersion}.pdf}} |
*-------------------------+---------+---------+

