 -----
 Downloads
 -----
 The [[NAME]] Team
 -----

Downloads

  [[NAME]] is available in both binary and source form.  The binary downloads allow you build with either Maven or Ant.
 
  Use the source code to rebuild a specific release (creating all the distributions available here) or to populate your own Maven repository. Typically this is after changes have been made to the source.
  
  If you are a <Maven> user then the simplest way to develop is using Maven. This is a smaller download as only the necessary jars are downloaded at compile time.
  
  If you are still using <Ant> then the larger download is available.  This contains all the dependendent jars and some examples that use Ant.
  
  For other uses where you are only interested in the dependencies then the last download is for you.
  
* The latest release - version ${current40xVersion}

*-------------------------+---------+---------+
| Source | <zip> | {{{http://sourceforge.net/projects/isis/files/isis/Version ${current40xVersion}/scimpi-${current40xVersion}-source.zip/download} scimpi-${current40xVersion}-source.zip}} |
*-------------------------+---------+---------+
| For Maven | <zip> | {{{http://sourceforge.net/projects/isis/files/isis/Version ${current40xVersion}/scimpi-${current40xVersion}-for-maven.zip/download} scimpi-${current40xVersion}-for-maven.zip}} |
| | <tar.gz> | {{{http://sourceforge.net/projects/isis/files/isis/Version ${current40xVersion}/scimpi-${current40xVersion}-for-maven.tar.gz/download} scimpi-${current40xVersion}-for-maven.tar.gz}} |
*-------------------------+---------+---------+
| For Ant | <zip> | {{{http://sourceforge.net/projects/isis/files/isis/Version ${current40xVersion}/scimpi-${current40xVersion}-for-ant.zip/download} scimpi-${current40xVersion}-for-ant.zip}} |
| | <tar.gz> | {{{http://sourceforge.net/projects/isis/files/isis/Version ${current40xVersion}/scimpi-${current40xVersion}-for-ant.tar.gz/download} scimpi-${current40xVersion}-for-ant.tar.gz}} |
*-------------------------+---------+---------+


* Previous releases

  All previous releases can be downloaded from the Source Forge {{{http://sourceforge.net/projects/isis/} project page}}.
  
* Documentation

  The documentation is available as a copy of this web site or PDF,
  
*-------------------------+---------+---------+
| Web Site | <jar> | {{{./scimpi-${current40xVersion}-site.jar} scimpi-${current40xVersion}-site.jar}} |
*-------------------------+---------+---------+
| Printed Documentation | <pdf> | {{{./scimpi-${current40xVersion}.pdf} scimpi-${current40xVersion}.pdf}} |
*-------------------------+---------+---------+

