ul 
{
    padding: 0;
}
   
div.actions 
{
     float: left;
     width: 400px;
}
   
.actions li 
{
    list-style-type: none;
}

dl.properties-and-collections
{
    float: left;
    width: 780px;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #999;
}

.properties-and-collections dt
{
    clear: left;
    float: left;
    width: 300px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    text-align: right;
    font-weight: bold;
    color: green;
}

.properties-and-collections dt:after
{
    content: ":";
}

.properties-and-collections dd
{
    float: left;
    width: 300px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}
    
.clear 
{
    clear: both;
}
