<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
	<script type="text/javascript" src="../jquery/jquery-1.6.4.js"></script>
	<script type="text/javascript"
		src="../jquery.tmpl/jquery.tmpl-vBeta1.0.0.js"></script>
	
	<link type="text/css" href="generic.css" />
	
	<script type="text/javascript" src="app.js"></script>
</head>

<body>

	<form id="Find" action="#">
		<h3>Navigate directly to an object:</h3>
		User:<input type="text" id="username" value="sven"> Password:
		<input type="text" id="password" value="pass"> <br>
		Server:<input type="text" id="server" value="localhost:8080">
		OId: <input type="text" id="oid" value="OID:1" size="50"> <br>
		<button id="ok">OK</button>
	</form>

	<br />
	<h3>
		<a href="" id="serviceMenu">Main Menu</a>
	</h3>
	<div id="objects"></div>

	<script id="objectRepAsHtml-tmpl" type="text/x-jquery-tmpl">
        <div>
            <br><h3>${title}</h3></br>

        {{if includeActions}}
            <div class="actions">
            <ul>
              {{each members}}
                {{if $value.memberType == 'action' }}
                  {{tmpl($value) "#actionMemberAsHtml-tmpl" }}
                {{/if}}
              {{/each}}
            </ul>
            </div>
        {{/if}}

        {{if includeProperties}}
            <dl class="properties-and-collections">

              {{each members }}
                {{if $value.memberType == 'property'}}
                    {{tmpl($value) "#propertyMemberAsHtml-tmpl" }}
                {{/if}}
                {{if $value.memberType == 'collection'}}
                    {{tmpl($value) "#collectionMemberAsHtml-tmpl" }}
                {{/if}}
              {{/each}}

            </dl>
            <div class="clear"/>
        {{/if}}

        </div>
    </script>

	<script id="propertyMemberAsHtml-tmpl" type="text/x-jquery-tmpl">
        <dt class='property'>${id}</dt>
        <dd class='property'>
            {{if value.href}}
              <a href="${value.href}">${value.title}</a>
            {{else}}
              ${value}
            {{/if}}
        </dd>
    </script>

	<script id="collectionMemberAsHtml-tmpl" type="text/x-jquery-tmpl">
        <dt class='collection'>${id}</dt>
        <dd class='collection'><a href="${links[0].href}">Collection Contents</a></dd>
    </script>

	<script id="actionMemberAsHtml-tmpl" type="text/x-jquery-tmpl">
        <li class='action'><a href="${links[0].href}">${id}</a></li>
    </script>
</body>

</html>
