#  Licensed to the Apache Software Foundation (ASF) under one
#  or more contributor license agreements.  See the NOTICE file
#  distributed with this work for additional information
#  regarding copyright ownership.  The ASF licenses this file
#  to you under the Apache License, Version 2.0 (the
#  "License"); you may not use this file except in compliance
#  with the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing,
#  software distributed under the License is distributed on an
#  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#  KIND, either express or implied.  See the License for the
#  specific language governing permissions and limitations
#  under the License.

site:
  title: causeway
  url: https://causeway.apache.org/
  start_page: docs:ROOT:about.adoc

urls:
  latest_version_segment: latest

content:
  sources:

    # antora
    - url: .
      start_path: antora/components/docs # docs
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/comguide # comguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/conguide # conguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/relnotes # relnotes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/setupguide # setupguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/refguide # refguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/refguide-index # refguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: antora/components/userguide # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # api
    - url: .
      start_path: api/schema/src/main/adoc # refguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # core
    - url: .
      start_path: core/adoc  # core (design docs)
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/codegen-bytebuddy/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: commons/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/config/src/main/adoc # refguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/interaction/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/internaltestsupport/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/metamodel/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/runtime/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/runtimeservices/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/security/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/transaction/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: core/webapp/src/main/adoc # core
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # examples
    - url: .
      start_path: antora/components/tutorials # tutorials
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # extensions
    - url: .
      start_path: extensions/adoc # extensions
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    - url: .
      start_path: extensions/core/commandlog/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/docgen/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/excel/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/executionlog/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/executionoutbox/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/executionrepublisher/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/flyway/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/layoutloaders/adoc # userguide
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/core/titlecache/adoc # userguide
      branches: [2.1.0, 3.1.0]

    - url: .
      start_path: extensions/security/audittrail/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/security/secman/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/security/sessionlog/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/security/spring-oauth2/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    - url: .
      start_path: extensions/vro/cors/adoc # vro
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    - url: .
      start_path: extensions/vw/tabular/adoc # vw
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/vw/fullcalendar/adoc # vw
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/vw/pdfjs/adoc # vw
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: extensions/vw/sse/adoc # vw
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # incubator
    - url: .
      start_path: incubator/adoc # incubator
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    #   - url: .
    #     start_path: incubator/clients/kroviz/adoc # incubator
    #     branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    #   - url: .
    #     start_path: incubator/extensions/core/commandreplay/adoc # incubator
    #     branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # mavendeps
    - url: .
      start_path: mavendeps/adoc # starters
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # persistence
    - url: .
      start_path: persistence/jpa/adoc # pjpa
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: persistence/jdo/adoc # pjdo
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: persistence/querydsl/adoc # pjdo
      branches: [2.2.0, 3.2.0]

    # regression tests
    - url: .
      start_path: regressiontests/adoc # regressiontests
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # security
    - url: .
      start_path: security/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: security/bypass/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: security/simple/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: security/shiro/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: security/keycloak/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: security/spring/src/main/adoc # security
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # starters
    - url: .
      start_path: starters/adoc # toc
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]


    # testing
    - url: .
      start_path: testing/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/archtestsupport/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/fakedata/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/fixtures/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/h2console/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/hsqldbmgr/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/integtestsupport/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/specsupport/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: testing/unittestsupport/adoc # testing
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # valuetypes
    - url: .
      start_path: valuetypes/adoc # valuetypes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: valuetypes/asciidoc/adoc # valuetypes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: valuetypes/jodatime/adoc # valuetypes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: valuetypes/markdown/adoc # valuetypes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: valuetypes/vega/adoc # valuetypes
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]

    # viewers
    - url: .
      start_path: viewers/graphql/adoc
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: viewers/restfulobjects/adoc # vro
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]
    - url: .
      start_path: viewers/wicket/adoc # vw
      branches: [2.0.0, 2.1.0, 2.2.0, 3.0.0, 3.1.0, 3.2.0]


ui:
  bundle:
    #    url: ../../causeway-antora/build/ui-bundle.zip
    url: https://github.com/apache/causeway-antora/blob/master/build/ui-bundle.zip?raw=true
    snapshot: true
  supplemental_files: antora/supplemental-ui

asciidoc:
  # npm i @antora/cli@^3.1.1 @antora/site-generator-default@^3.1.1 asciidoctor-kroki
  extensions:
    - asciidoctor-kroki
    - ./antora/lib/lorem
    - ./antora/lib/jira-issue
  attributes:
    experimental: ""
    idprefix: ""
    idseparator: "-"
    # kroki
    # for more options see https://github.com/Mogztter/asciidoctor-kroki
    kroki-default-format: svg # (default)
    kroki-default-options: interactive # only available for SVG
    kroki-fetch-diagram: true
    kroki-server-url: https://kroki.io # (default)
    page-causewayprevv2: "2.2.0"
    page-causewayprevv3: "3.2.0"
    page-causewayrelv2: "2.3.0"
    page-causewayrelv3: "3.3.0"
    page-causewayjdkv2: "11"
    page-causewayjdkv3: "17"

output:
  dir: antora/target/site
