~~  Licensed to the Apache Software Foundation (ASF) under one
~~  or more contributor license agreements.  See the NOTICE file
~~  distributed with this work for additional information
~~  regarding copyright ownership.  The ASF licenses this file
~~  to you under the Apache License, Version 2.0 (the
~~  "License"); you may not use this file except in compliance
~~  with the License.  You may obtain a copy of the License at
~~
~~        http://www.apache.org/licenses/LICENSE-2.0
~~
~~  Unless required by applicable law or agreed to in writing,
~~  software distributed under the License is distributed on an
~~  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~  KIND, either express or implied.  See the License for the
~~  specific language governing permissions and limitations
~~  under the License.


 -----
 Downloads
 -----
 
 <Apache Isis> is a full-stack open source application development framework, designed to let you rapidly develop domain-driven business enterprise applications.

Release
 
 <Apache Isis> is distributed in both source and binary form:
 
 * the source can be downloaded from 
   {{{http://www.apache.org/dyn/closer.cgi/incubator/isis/isis-parent-${project.version}-source-release.zip}here}} 
   ({{{http://www.apache.org/dist/incubator/isis/isis-parent-${project.version}-source-release.zip.asc}asc}}, {{{http://www.apache.org/dist/incubator/isis/isis-parent-${project.version}-source-release.zip.md5}md5}}, {{{http://www.apache.org/dist/incubator/isis/isis-parent-${project.version}-source-release.zip.sha1}sha1}})
   
   Details of building <Isis> from source can be found in the contributors guide ({{{./docbkx/html/guide/isis-contributors-guide.html}HTML}} or {{{./docbkx/pdf/isis-contributors-guide.pdf}PDF}})
   for further details.
 
 * the binaries can be downloaded from {{{http://repo1.maven.org}Maven central repo}}, typically by using the <Isis> quickstart archetype.
 
   See the {{{./quickstart-app.html}quickstart page}} for details on how to using the quickstart archetype.
   
 * Release notes can be found {{{./release-notes-${project.version}.html}here}}.  
 
 []
 
 In both cases, you can use the {{{http://www.apache.org/incubator/dist/isis/KEYS}KEYS}} to verify the archives.
 
  
 
Snapshot Releases

  We occasionally release snapshots of the current codebase through the 
  {{{https://repository.apache.org/index.html#view-repositories;snapshots-group~browsestorage/}Apache Snapshot repository}}.  
  We also have a quickstart app to get up and running quickly, also uploaded
  to the snapshot repo.  You can generate a running app using:

+------------------------------------------------------------
mvn archetype:generate  \
    -D archetypeCatalog=http://incubator.apache.org/isis \
    -D archetypeGroupId=org.apache.isis.support \
    -D archetypeArtifactId=quickstart-archetype

+------------------------------------------------------------


Building Isis yourself
  
  We also invite you to check out the source from Subversion and build it 
  yourself:
  
----
svn co https://svn.apache.org/repos/asf/incubator/isis/trunk .
mvn clean install
----

  Again, see the contributors guide (({{{./docbkx/html/guide/isis-contributors-guide.html}HTML or {{{./docbkx/pdf/isis-contributors-guide.pdf}PDF}}) 
  for more details.
   
  