<?xml version="1.0"?>
<plugin 
	id="org.apache.isis.persistence.dn-plugins" 
	name="org.apache.isis.persistence.dn-plugins" 
	provider-name="Apache Isis">

	<extension point="org.datanucleus.type_converter">
        <type-converter name="isis.tuple" 
        	member-type="demoapp.dom.types.tuple.ComplexNumber" 
        	datastore-type="[D"
            converter-class="demoapp.dom.types.tuple.DnComplexConverter"/>
    </extension>
    
</plugin>
