<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org" xml:lang="en" lang="en">
<body>
	<wicket:panel>
		<div wicket:id="scalarTypeContainer"
			class="scalarNameAndValueComponentType">

			<!-- regular frame -->
			<div class="form-group" wicket:id="scalarIfRegular">

				<label wicket:id="scalarName"
					class="scalarName col-form-label">[Label text]</label> 
				<span class="scalarValueWrapper">
					<div class="scalarPlaceholder">
					
						<wicket:container 
							wicket:id="container-fieldFrame" />
						
						<span wicket:id="associatedActionLinksRight"
							class="associatedActionLinksRight">[drop down]</span>
					</div> 
					<span wicket:id="feedback" class="form-text"/> 
					<span wicket:id="associatedActionLinksBelow"/>
				</span>
				<div class="clearfix"/>
			</div>

			<!-- prompt form frame -->
			<div wicket:id="scalarIfRegularInlinePromptForm"
				class="inlinePromptForm">
				<div>
					<span>[inline edit form]</span>
				</div>
			</div>

			<!-- compact frame -->
			<wicket:container 
				wicket:id="scalarIfCompact"/>
				  
		</div>

		<!-- FIELD FRAME FRAGMENTS -->

		<wicket:fragment wicket:id="fragment-fieldFrame-withLink">
			<span class="scalarValueInput input-group">
				<div wicket:id="scalarValueInlinePromptLink"
					class="scalarValueInlinePromptLink">
					<!-- output format -->
					<wicket:container 
						wicket:id="container-scalarValue"
						class="no-event-prop" />
						
					<span class="position-absolute top-0 end-0">
              			<div class="btn-group btn-group-sm shadow-sm" role="group">
	                		<button type="button" class="btn btn-primary">
	                			<i class="fa-solid fa-edit"></i></button>
                			
	                		<!-- additional buttons -->	
            				<button wicket:id="scalarValueInlinePromptLink-buttons" 
            					class="btn" type="button">
							</button>
	                			
	             		</div>
	            	</span>
				</div> 
			</span> 
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-fieldFrame-withoutLink-viewing">
			<span class="scalarValueInput">
				<!-- input format (when read-only) -->
				<wicket:container 
					wicket:id="container-scalarValue" />
			</span> 
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-fieldFrame-withoutLink-editing">
			<span class="scalarValueInput input-group">
				<!-- input format (when editing or action dialog) -->
				<wicket:container 
					wicket:id="container-scalarValue"/>
			
				<!-- honor bootstrap modal dialog z-index of 1055-->
				<span class="position-absolute top-0 end-0" style="z-index: 1080;"> 
           			<div class="btn-group btn-group-sm shadow" role="group">
           				<!-- additional buttons -->
         				<button wicket:id="scalarValueInput-buttons" 
         					class="btn" type="button">
						</button>
           			</div>
            	</span>
			</span> 
		</wicket:fragment>

		<!-- INPUT FRAGMENTS -->

		<wicket:fragment wicket:id="fragment-input-text">
			<input wicket:id="scalarValue"
				type="text" name="scalarValue"
				class="form-control form-control-sm scalarValue"/>
		</wicket:fragment>

		<wicket:fragment wicket:id="fragment-input-textarea">
			<textarea wicket:id="scalarValue" name="scalarValue"
				class="form-control form-control-sm scalarValue"
				data-causeway-focus="true" />
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-input-checkbox">
	        <input wicket:id="scalarValue" type="checkbox" name="scalarValue"
	        	class="scalarValue"/>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-input-file">
			<span class="uploadFile form-text">
      			<input wicket:id="scalarValue" type="file" name="scalarValue"/>
         	</span>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-input-date">
			<input wicket:id="scalarValue"
				type="text" name="scalarValue"
				class="form-control form-control-sm scalarValue"/>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-input-select_value">
			<select wicket:id="scalarValue"
				class="choices form-control-sm select2-remote"/>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-input-select_object">
			<span wicket:id="entityLink" class="w-100">link or drop down</span>
			<span wicket:id="entityTitleIfNull">(none)</span>
		</wicket:fragment>

		<!-- PROMPT FRAGMENTS -->

		<wicket:fragment wicket:id="fragment-prompt-editicon">
			<button wicket:id="scalarValue" class="edit btn btn-sm btn-link">
				<span class="editIcon fa fa-edit"/>
			</button>
		</wicket:fragment>

		<wicket:fragment wicket:id="fragment-prompt-label">
			<span wicket:id="scalarValue"/>
		</wicket:fragment>

		<wicket:fragment wicket:id="fragment-prompt-textarea">
			<textarea wicket:id="scalarValue"
				class="form-control form-control-sm scalarPrompt" readonly="true"/>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-prompt-checkboxYes">
			<label class="fs-4" style="color: green;"><i
				class="fa-regular fa-check-square"></i></label>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-prompt-checkboxNo">
			<label class="fs-4"><i
				class="fa-regular fa-square"></i></label>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-prompt-checkboxIntermediate">
			<label class="fs-4" style="color: silver;"><i
				class="fa-regular fa-square-minus"></i></label>
		</wicket:fragment>

		<!-- COMPACT FRAGMENTS -->
		
		<wicket:fragment wicket:id="fragment-compact-checkboxYes">
			<label class="fs-5" style="color: green;"><i
				class="fa-regular fa-check-square"></i></label>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-compact-checkboxNo">
			<label class="fs-5"><i
				class="fa-regular fa-square"></i></label>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-compact-checkboxIntermediate">
			<label class="fs-5" style="color: silver;"><i
				class="fa-regular fa-square-minus"></i></label>
		</wicket:fragment>

		<wicket:fragment wicket:id="fragment-compact-label">
			<span wicket:id="scalarValue"/>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-compact-link">
			<a wicket:id="scalarValue" class="no-click-bubbling">
				<span wicket:id="linkLabel" />
			</a>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-compact-badge">
			<div class="badge bg-light">
				<span wicket:id="scalarValue"></span>	
			</div>
		</wicket:fragment>
		
		<wicket:fragment wicket:id="fragment-compact-entityLink">
			<div class="scalarValue">
                <div class="entityLink"
                     wicket:id="entityLink"
                >[property or parameter value]</div>
            </div>
		</wicket:fragment>
		

	</wicket:panel>
</body>
</html>

