/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

.content .hljs-meta {
    color: olivedrab;
    font-weight: 500;
}

.doc h3:not(.discrete) {
    font-weight: 500;
}

.doc h4:not(.discrete) {
    font-style: italic;
}

.doc .sidebarblock.float-left {
    min-width: 400px;
    margin-right: 30px;
}

.content .hljs-keyword,
.content .hljs-selector-tag,
.content .hljs-subst {
    color: darkblue;
    font-weight: 500;
}

div.paragraph code {
    color: darkmagenta;
}

.doc p a code,
.doc div.ulist a code,
.doc div.paragraph a code {
    color: cornflowerblue;
}

.content .ulist {
    margin-top: 0.2rem;
}

.content h2 {
    margin-bottom: 9px;
}

.content > .ulist ul {
    padding-left: 1rem;
}

.content .ulist .ulist ul {
    padding-left: 1rem;
}

input.ds-input {
    min-width: 23em;
    padding: 5px;
    border: 2px solid #87a83f;
    border-radius: 5px;
}

div.imageblock.kroki > div.content > img,
div.imageblock.kroki > div.content > object {
    max-width: 100%;
}
