div.paragraph code {
    color: darkmagenta;
}

div.paragraph a code {
    color: cornflowerblue;
}

.content .ulist {
    margin-top: 0.2rem;
}

.content h2 {
    margin-bottom: 9px;
}

.content > .ulist ul {
    padding-left: 1rem;
}

.content .ulist .ulist ul {
    padding-left: 1rem;
}

