body > div.container-fluid,
body > div.container {
    margin-top: 80px;
}
#doc-content {
    min-height: 600px;
}

.navbar-brand > img {
    margin-top: -12px;
    margin-left: 12px;
}



table a code, table a:visited code, table a:active code,
a code, a:visited code, a:active code {
  text-decoration: none;
  border-bottom: 1px dashed;
}

table a:hover code,
a:hover code {
  text-decoration: none;
  border-bottom: 1px solid;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}



.slick-slide img {
    padding:30px;
}
.slick-slide.slick-active img {
    padding: 10px;
}

.slick-prev:before, .slick-next:before {
    color: #AA3633;
}


.pdf-link {
    float: right;
    padding-top: 20px;
}
