<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<html xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>
            <div class="pdfViewerPanel scalarNameAndValueComponentType">
                <div class="form-group" wicket:id="regularFrame">
                    <div class="row">
                        <div class="scalarValue col-sm-12">
                            <div>
                                <span>Page: <input wicket:id="currentPage" class="pdf-js-page-current" title="Select Page" size="1"></input> / <span wicket:id="totalPages" class="pdf-js-page-total"></span></span>

                                <button wicket:id="prevPage" disabled type="button" class="fa fa-angle-left btn btn-xs btn-default pdf-js-page-prev" title="Previous"></button>
                                <button wicket:id="nextPage" disabled type="button" class="fa fa-angle-right btn btn-xs btn-default pdf-js-page-next" title="Next"></button>

                                <select wicket:id="currentZoom" title="Current Zoom Level" class="pdf-js-zoom-current">
                                    <option id="pageAutoOption" value="auto" >Automatic Zoom</option>
                                    <option id="pageActualOption"  value="page-actual" >Actual Size</option>
                                    <option id="pageFitOption"  value="page-fit" >Page Fit</option>
                                    <option id="pageWidthOption"  value="page-width">Page Width</option>
                                    <option class="pdf-js-zoom" value="0.50">50%</option>
                                    <option class="pdf-js-zoom" value="0.75">75%</option>
                                    <option class="pdf-js-zoom" value="1.00">100%</option>
                                    <option class="pdf-js-zoom" value="1.25">125%</option>
                                    <option class="pdf-js-zoom" value="1.50">150%</option>
                                    <option class="pdf-js-zoom" value="2.00">200%</option>
                                    <option class="pdf-js-zoom" value="3.00">300%</option>
                                    <option class="pdf-js-zoom" value="4.00">400%</option>
                                </select>

                                <select wicket:id="currentHeight" title="Height" class="pdf-js-height-current">
                                    <option class="pdf-js-height" value="300">300px</option>
                                    <option class="pdf-js-height" value="400">400px</option>
                                    <option class="pdf-js-height" value="500">500px</option>
                                    <option class="pdf-js-height" value="600">600px</option>
                                    <option class="pdf-js-height" value="700">700px</option>
                                    <option class="pdf-js-height" value="800">800px</option>
                                    <option class="pdf-js-height" value="900">900px</option>
                                    <option class="pdf-js-height" value="1000">1000px</option>
                                    <option class="pdf-js-height" value="1100">1100px</option>
                                    <option class="pdf-js-height" value="1200">1200px</option>
                                    <option class="pdf-js-height" value="1300">1300px</option>
                                    <option class="pdf-js-height" value="1400">1400px</option>
                                    <option class="pdf-js-height" value="1500">1500px</option>
                                    <option class="pdf-js-height" value="1750">1750px</option>
                                    <option class="pdf-js-height" value="2000">2000px</option>
                                </select>

                                <button wicket:id="download" type="button" class="fa fa-download btn btn-xs btn-default pdf-js-download" title="Download"></button>
                                <button wicket:id="print" type="button" class="fa fa-print btn btn-xs btn-default pdf-js-print" title="Print Current Page"></button>

                                <div class="progress" style="display: none;">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                            <div wicket:id="scalarValue" class="pdfPanel" ></div>
                        </div>
                    </div>
                    <span wicket:id="feedback"></span>
                </div>
            </div>
            <span wicket:id="compactFrame">
                <a wicket:id="compactFrame-download"><span class="fileName" wicket:id="compactFrame-fileName"></span></a>
            </span>

        </wicket:panel>
    </body>
</html>
