.ui-tooltip {
	max-width: 300px;
	background-color: WhiteSmoke;
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
 	box-shadow: 0 0 7px black;
 
    position: absolute;
    z-index: 9999;
}

span.isis-component-with-tooltip,
label.isis-component-with-tooltip, 
.isis-component-with-tooltip label, 
strong.isis-component-with-tooltip  {
	text-decoration: underline dashed;
}

.ui-helper-hidden-accessible { display:none; }