<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"  
      xml:lang="en"  
      lang="en">
	<head></head>
	<body>
		<wicket:panel>
			<div class="noPassword password string scalarPanel">
				<label for="scalarValue" wicket:id="scalarIfRegular">
	      			<span wicket:id="scalarName" class="scalarName">[Label text]</span>
	      			<span class="scalarValue">
	      				<input type="password" name="scalarValue" id="scalarValue" wicket:id="scalarValue" />
	      			</span>
				</label>
				<label wicket:id="scalarIfCompact"></label>
      			<span wicket:id="feedback"></span>
			</div>
		</wicket:panel>
	</body>
</html>
