<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org" xml:lang="en" lang="en">
<body>

	<!-- a stripped down copy of ScalarPanelTextFieldAbstract.html -->

	<wicket:panel>
		<div class="scalarNameAndValueComponentType"
			wicket:id="scalarTypeContainer">

			<div class="form-group" wicket:id="scalarIfRegular">

				<label class="scalarName col-form-label" wicket:id="scalarName">[Label text]</label> 
				<span class="scalarValueWrapper">
					<div>
						<wicket:container wicket:id="scalarValueContainer">[regular-tree]</wicket:container>
						<span class="associatedActionLinksRight"
							wicket:id="associatedActionLinksRight">[drop down]</span>
					</div> 
					<span wicket:id="feedback" class="form-text" />
					<span wicket:id="associatedActionLinksBelow" />
				</span>
				<div class="clearfix"></div>
			</div>

			<wicket:container wicket:id="scalarIfCompact">[compact-tree]</wicket:container>
			
		</div>

		<wicket:fragment wicket:id="textInlinePrompt">
			<span wicket:id="scalarValue" />
		</wicket:fragment>

		<wicket:fragment wicket:id="textarea">
			<textarea name="scalarValue"
				class="form-control form-control-sm scalarValue" wicket:id="scalarValue" />
		</wicket:fragment>

	</wicket:panel>
</body>
</html>

