BODY {
      		font-family: Tahoma, Arial, Sans-Serif;
      		line-height: 140%;

      		margin-top: 20px;
      		margin-left: 30px;
      		margin-right: 50px;
}

div.figure 
{
    display: block;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    padding: 1em;
    font-size: 80%;
    text-decoration: none;
    border: 1px solid #330099;  
}

img {
    margin: 0;
}


h1,h2,h3,h4 
{ color:#330099; letter-spacing:1.0pt; clear: both; line-height: 1.3em;}

H1 
{ font-size: 140%; margin-top: -8px; border-bottom: 3px solid #330099;}

H2 
{ font-size: 120%; border-bottom: 3px solid #330099;}

H3 {    		font-size: 100%; border-bottom: 2px solid #003399;}

H4 {    		font-size: 80%; border-bottom: 1px solid lightgray;}

path {
  color: #6600CC; font: monospaced;  
}

p.block-label {
	font-size: 80%;  font-style: italic;
	margin-bottom: -13px;	
}

div.block {
	margin-left: 10px;
}

table { 		width: 100%;}

td.layout {		font-size: 100% ;background-color: white; border: 0px; align: top;}

td.header {		padding-top: 10px;
			padding-bottom: 13px;}

img.layout {	margin-left: -10px;}

td.footer { 	background-color: white; border: 0px;}

td.footer p { 	font-size: 70%; color: #666; margin-top: 30px;
			margin-bottom: 20px;}

tr.layout {		background-color: red; margin-top: 50px; margin-bottom: 50px; }

td {			font-size: 80%;  background-color: #ddd;
   			padding-left: 1em; padding-right: 1em; }

th {			font-size: 80%; background-color: #aaa;
  			text-decoration: none;}


p, li {		letter-spacing:1.0pt; font-size: 80%;}
p b {			color: #333;}

ul {    margin-bottom: 10px; }
li {			margin-bottom: 0px; clear: both;}



img{			margin-left: 6px;}

img.border {	margin-left: 0px; }

img.wrapped {	margin-right: 10px;  margin-bottom: 10px;  float: left;
  			clear: left;}

pre {	font-family: andale mono, lucida fixed, monospaced; 
        line-height: 100%;
	color: #6600CC; margin-left: 0.0in; margin-right: 0.25in;
	padding: 8px;
	border: 1px dashed #000000;
	clear: both;}

pre.b {	color:black;}

pre.property-listing {
    background: #ffdddd;
}

pre.command-listing {
    background: #ddffdd;
}

pre.program-listing {
    background: #ddddff;
}

pre.output-listing {
    background: #ffddff;
}


.code {	color: #6600CC; font: andale mono, lucida fixed, monospaced;}

.class, .method {
    font-family: andale mono, lucida fixed, monospaced; 
    color: blue
}

.path {
    font-family: andale mono, lucida fixed, monospaced; 
    color: green
}








