body { font-family: Trebuchet, Arial, Verdana, sans serif; font-size: 9pt; margin: 0 0 0 0cm;
                           }
.title {font-family: Palatino Linotype, Times New Roman; font-size: 10pt; margin-bottom: 8px}
.title .interface {float: right; font-weight: bold; font-size: 11pt; font-style: italic; margin-top:-18px;}
.title .class {float: right; font-weight: bold; font-size: 11pt; margin-top:-18px; }

table {margin-left: 5px; width: 100%; font-size: 9pt; line-height: 90%; }
th {text-align: left;}

.packages {padding-bottom: 20px; page-break-after: always; }
.package, .spec {border-bottom: 1px black solid; padding-bottom: 8px; }

.package .title {font-weight: bold; font-size: 11pt;}
.package .classes { margin-bottom: 0;  margin-top: 0; }
.package .interface {font-style: italic;}

.class { margin-bottom: 0;  margin-top: 0; }
.related {padding-left: 80px; text-indent: -80px; }
.method, .field, .constructor { margin: 0; padding-left:60px; text-indent: -30px;  }
.name {font-weight: bold; }
.type {font-style: italic; }
.header {font-family: Paltino, Times New Roman; font-size: 9pt; font-weight: bold; font-style: italic;}
.comment {font-family: Times New Roman; font-size: 10pt; }



p {margin: 5px 10px; line-height: 130%; }