<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
         
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<html>
	<body>
		<wicket:panel>
			<div class="wizardPropertiesPanel entityPropertiesComponentType">
                <form wicket:id="entityProperties" class="inputForm">
                    <div class="row-fluid">
                        <div wicket:id="leftColumn">
            		    	<div class="inputFormTable properties">
            	    	    	<fieldset wicket:id="memberGroup" class="memberGroup myBlockContainer">
            	    	    		<legend wicket:id="memberGroupName">[group name]</legend>
            				    	<div wicket:id="properties">
            			              <div wicket:id="property" class="property">[property]</div>
            				    	</div>
            			    	</fieldset>
            		    	</div>
            			    <div class="feedbackPanel">
            			        <span wicket:id="feedback"/>
            			    </div>
                            <div class="wizardButtons">
                                <input type="submit" class="previous" wicket:id="wizardPrevious"/>
                                <input type="submit" class="next" wicket:id="wizardNext"/>
                                <input type="submit" class="finish" wicket:id="wizardFinish"/>
                                <input type="submit" class="cancel" wicket:id="wizardCancel"/>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div wicket:id="entityCollectionsOverflow"/>
                    </div>

                </form>
			</div>
		</wicket:panel>
	</body>
</html>
