<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"  
      xml:lang="en"  
      lang="en">
	<head></head>
	<body>
		<wicket:panel>
			<div class="emptyCollectionPanel emptyCollection panel">
				<form>
					<p>No objects returned</p>
					<div class="buttons">
						<button type="submit" wicket:id="ok" class="ok" value="OK">OK</button>
					</div>
				</form>
			</div>
		</wicket:panel>
	</body>
</html>
