<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"  
      xml:lang="en"  
      lang="en">
	<wicket:head>
		<wicket:link>
			<link href="EntityLink.css" rel="stylesheet" type="text/css"/>
		</wicket:link>
	</wicket:head>
	<body>
		<wicket:panel>
			<span class="entityLink">
				<input type="text" wicket:id="entityOid"/>
				<img wicket:id="entityImage" class="entityImage" width="16" height="16"/>
				<select wicket:id="choices"/>
				<span wicket:id="entityLinkWrapper">
					<a href="#" wicket:id="entityLink">
						<span wicket:id="entityTitle">[property or parameter value]</span>
					</a>
				</span>
				<a href="#" wicket:id="entityDetailsLink" class="entityDetailsLink"><span wicket:id="entityDetailsLinkLabel">show/hide</span></a>
				<span wicket:id="entityTitleNull">(null)</span>
				<table wicket:id="findUsing" class="findUsing">
		   			<tbody>
		      			<tr>
							<td>
				      			<span wicket:id="action">[find using...]</span>
			      			</td>
		     			</tr>
	     			</tbody>
	  			</table>
	  			<div wicket:id="entityDetails">
	  			</div>
			</span>
		</wicket:panel>
	</body>
</html>
