<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.isis.tooling" level="info" additivity="true">
            <appender-ref ref="console" />
        </Logger>
        <Root level="warn" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>