/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */
 
.jarManifestPanel .heading span {
    text-transform: none;
}
 
.jarManifestPanel .manifestAttributesList .caused_by_label {
    text-transform: none;
}



.bookmarkedPagesPanel .bookmarkedPagesPanelHolder {
    text-transform: none;
}

.bookmarkedPagesPanel .showPanelTab {
    text-transform: none;
}



.collectionContentsAsAjaxTablePanel table.contents tr th,
.collectionContentsAsAjaxTablePanel table.contents tr th a span { 
    text-transform: none;
}

.collectionContentsAsAjaxTablePanel table.contents tbody td,
.collectionContentsAsAjaxTablePanel table.contents thead th {
    text-transform: none;
}




.collectionContentsAsSummary .aggregateName {
    text-transform: none;
}




.isisBlobPanel .scalarValue span.downloadTitle,
.isisBlobPanel .scalarValue span.uploadTitle,
.isisBlobPanel .scalarValue span.clearTitle {
    text-transform: none;
}



/* CssMenuPanel */

.groupedActions .cssMenuPanel .menuh a:link,
.groupedActions .cssMenuPanel .menuh a:visited,
.groupedActions .cssMenuPanel .menuh a:active,
.groupedActions .cssMenuPanel .menuh p {
    text-transform: none;
}

.entityActions .cssMenuPanel .menuh a:link,
.entityActions .cssMenuPanel .menuh a:visited,
.entityActions .cssMenuPanel .menuh a:active,
.entityActions .cssMenuPanel .menuh p {
    text-transform: none;
}

.additionalLinkList li a,
.additionalLinkList li em {
    text-transform: none;
}




.exceptionStackTracePanel .heading span {
    text-transform: none;
}

.exceptionStackTracePanel .exceptionStackTrace .caused_by_label {
    text-transform: none;
}



.loginPanel form input[type=submit] {
    text-transform: none;
}

.loginPanel form input[type=reset] {
    text-transform: none;
}




/* PageAbstract */

.links {
    text-transform: none;
}

.edit,
.ok,
.okButton {
    text-transform: none;
}

.cancel {
    text-transform: none;
}

#applicationActions .cssMenuPanel .menuh a:link, 
#applicationActions .cssMenuPanel .menuh a:visited, 
#applicationActions .cssMenuPanel .menuh a:active, 
#applicationActions .cssMenuPanel .menuh p {
    font-size: larger;
    text-transform: none;
}

.scalarName, .collectionName {
    text-transform: none;
}




.linksSelectorPanel .ViewLinkItem {
    text-transform: none;
}
