/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */
.cssMenuPanel span.clear {
	line-height: 3px;
}

.cssMenuPanel .menuh {
	/*font-family: arial, helvetica, sans-serif;*/
	/*float: left;*/
	/*margin-top: 0.1em;*/
	/*background: repeat-x scroll center center;*/
	/*width: 100%;*/
}

.cssMenuPanel .menuh .small {
	float: none;
	display: inline;
}

.cssMenuPanel .menuh p .small {
	float: none;
	display: inline;
}

.menuh a,.menuh p {
	text-align: left;
	display: block;
	/*border: 1px #00477F solid;*/
	white-space: nowrap;
	margin: 0em;
	padding: 1px;
	padding-right: 1.6em;
	padding-left: 0.4em;
	font-weight: normal;
	cursor: default;
}

.cssMenuPanel .menuh a:link,.cssMenuPanel .menuh a:visited,.cssMenuPanel .menuh a:active,.cssMenuPanel .menuh p
	{
	/*color: #00477F;*/
	/*background-color: #EEEEEE;*/
	/*text-decoration: none;*/
}

.cssMenuPanel .menuh a:hover,.cssMenuPanel .menuh p:hover {
	/*color: #D7E7F5;*/
	/*background-color: #407098;*/
}

.cssMenuPanel .menuh a:hover {
	text-decoration: underline;
}

.cssMenuPanel .menuh a.top-parent,.cssMenuPanel .menuh p.top-parent {
	background-position: right center;
	background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.top-parent:hover,.cssMenuPanel .menuh p.top-parent:hover	{
	background-position: right center;
	background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.parent,.cssMenuPanel .menuh p.parent {
	background-position: right center;
	background-repeat: no-repeat;
}

.cssMenuPanel .menuh a.parent:hover,.cssMenuPanel .menuh p.parent:hover	{
	background-position: right center;
	background-repeat: no-repeat;
}

.cssMenuPanel .menuh ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

.cssMenuPanel .menuh li {
	position: relative;
	min-height: 1px;
}

.cssMenuPanel .menuh ul ul {
	position: absolute;
	z-index: 500;
	top: auto;
	display: none;
	padding: 1em;
	margin: -1em 0 0 -1em;
}

.cssMenuPanel .menuh ul ul ul {
	top: 0;
	left: 100%;
}

.cssMenuPanel span.menuh a:hover {
	cursor: pointer;
	z-index: 100;
}

.cssMenuPanel span.menuh li:hover ul ul,.cssMenuPanel span.menuh li li:hover ul ul,.cssMenuPanel span.menuh li li li:hover ul ul,.cssMenuPanel span.menuh li li li li:hover ul ul {
	display: none;
}

.cssMenuPanel span.menuh li:hover ul,.cssMenuPanel span.menuh li li:hover ul,.cssMenuPanel span.menuh li li li:hover ul,.cssMenuPanel span.menuh li li li li:hover ul {
	display: block;
}

.cssMenuPanel li.cssSubMenuItem p.disabled {
	/*color: lightgray;*/
    cursor: not-allowed;
}

.cssMenuPanel li.cssSubMenuItem {
    margin-left:0;
}

/******** overrides for grouped actions and entity actions ***************/
.groupedActions .cssMenuPanel li.cssMenuItemPanel>p.top-parent {
	display: none;
}

.groupedActions .cssMenuPanel .menuh ul {
	position: relative;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}

.groupedActions .cssMenuPanel .menuh ul ul {
	position: relative;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}

.groupedActions .cssMenuPanel .menuh li,
.groupedActions .cssMenuPanel .menuh li p	{
	float:left;
	display:block;
	margin-left:10px;
}

.groupedActions .cssMenuPanel .menuh a,.groupedActions .cssMenuPanel .menuh p
	{
	display: inline-block;
	border: none;
}

.groupedActions .cssMenuPanel .menuh a:link,
.groupedActions .cssMenuPanel .menuh a:visited,
.groupedActions .cssMenuPanel .menuh a:active,
.groupedActions .cssMenuPanel .menuh p {
    /*background-color: #F0EFEA;*/
    /*color: #46423C;*/
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
	padding:0px 10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.85em;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
}

.groupedActions .cssMenuPanel .menuh a:hover,.groupedActions .cssMenuPanel .menuh p:hover
	{
	/*color: #000;*/
	/*background-color:#FFFFFF;*/
}

.entityActions .cssMenuPanel li.cssMenuItemPanel>p.top-parent {
	display: none;
}

.entityActions .cssMenuPanel .menuh ul {
	position: relative;
	display: block;
	float: right;
	margin: 0 0 10px;
	padding: 0;
}

.entityActions .cssMenuPanel .menuh ul ul {
	position: relative;
	display: block;
	float: right;
	margin: 0;
	padding: 0;
}

.entityActions .cssMenuPanel .menuh li {
	float:left;
	display:block;
	margin-left:10px;
}

.entityActions .cssMenuPanel .menuh li p {
    float:left;
    display:block;
    margin-left:0px;
}

.entityActions .cssMenuPanel .menuh a,
.entityActions .cssMenuPanel .menuh p {
	display: inline-block;
	/*border: none;*/
}

.entityActions .cssMenuPanel .menuh a:link,
.entityActions .cssMenuPanel .menuh a:visited,
.entityActions .cssMenuPanel .menuh a:active,
.entityActions .cssMenuPanel .menuh p {
    /*background-color: #F0EFEA;*/
    /*color: #46423C;*/
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
	padding:0px 10px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:0.85em;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
}

.entityActions .cssMenuPanel .menuh a:focus {
	/*text-decoration: underline;*/
}

.entityActions .cssMenuPanel .menuh a:hover,.entityActions .cssMenuPanel .menuh p:hover {
	/*color: #000;*/
}

.entityActions .cssMenuPanel .menuh a:hover,.entityActions .cssMenuPanel .menuh p:hover:not(.disabled) {
    /*color: #FFF;*/
    /*background-color:#20B5C2;*/
}

.additionalLinkList {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}

.additionalLinkList li {
	float:left;
	margin-right:10px;
}

.additionalLinkList li em {
    font-style: normal;
}

.additionalLinkList li a,
.additionalLinkList li em {
    /*background-color: #F0EFEA;*/
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    font-size: 0.85em;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.additionalLinkList li a {
    /*color: #46423C;*/
}


.additionalLinkList li a:hover {
	/*background-color:#20B5C2;*/
	/*color:#FFFFFF;*/
}

/* em = disabled */
.additionalLinkList li em {
    /*color: lightgrey;*/
}

.additionalLinkList li em:hover {
    /*color: black;*/
    cursor: default;
}

.entityActions a.prototype span {
	/*color: #DBDB4D;*/
	font-style: italic;
}
.entityActions a.prototype {
    /*background-color: #20B5C2;*/
}
