/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

.isisBlobPanel .scalarValue span.downloadTitle,
.isisBlobPanel .scalarValue span.uploadTitle,
.isisBlobPanel .scalarValue span.clearTitle {
    margin-right: 10px;
    margin-bottom:10px;
    float:left;
    display:block;
    border: 0px;
    padding:5px 10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background-color:#FFFFFF;
    color:#46413B;
    font-style:normal !important;
    text-transform: uppercase;
    font-size: 0.9em;
}

.isisBlobPanel .scalarValue .uploadFile input {
	display: none;
}

.isisBlobPanel .scalarValue a span.downloadTitle,
.isisBlobPanel .scalarValue span.uploadTitle,
.isisBlobPanel .scalarValue a span.clearTitle {
    background-color:#F0EFEA;
    text-decoration:none;
}
 
.isisBlobPanel .scalarValue a:hover span.downloadTitle,
.isisBlobPanel .scalarValue span.uploadTitle:hover,
.isisBlobPanel .scalarValue a:hover span.clearTitle {
	background-color:#40C0CB;
	color: white;
    text-decoration:none;
    cursor: pointer;
}
 
.yourBtn{
   position: relative;
       top: 150px;
   font-family: calibri;
   width: 150px;
   padding: 10px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border: 1px dashed #BBB; 
   text-align: center;
   background-color: #DDD;
   cursor:pointer;
}



.isisBlobPanel .scalarValue {
	height: 30px;
	line-height: 30px;
}

.isisBlobPanel .scalarValue span.uploadTitle,
.isisBlobPanel .scalarValue span.downloadTitle,
.isisBlobPanel .scalarValue span.clearTitle {
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}


.isisBlobPanel .scalarImage {
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}