/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

 /* CSS for the Table Panel and all its child components, toolbars, search-bar etc. */
 
.collectionContentsAsAjaxTablePanel .table-header-sortIcon {
 	color: grey;
 }
 
.collectionContentsAsAjaxTablePanel .pagesizeChooser,
.collectionContentsAsAjaxTablePanel .pageActionChooser {
 	float: left;
	margin-right: 0.75rem;
}

.collectionContentsAsAjaxTablePanel th.column-sortable .column-header-label {
  color:var(--link-color);
  opacity:0.75;
  vertical-align: middle;
}
.collectionContentsAsAjaxTablePanel th.column-sortable a:hover .column-header-label,
.collectionContentsAsAjaxTablePanel th.column-nonsortable .column-header-label {
  color:var(--link-color-hover);
  opacity:0.75;
  vertical-align: middle;
}

/* table search bar is present only optionally on tables, so if present, 
	it needs a bit of top spacing (but only in parented tables, 
	standalone tables don't have the 'padding-top: 0px' CSS hack) */
.collection.card-body .table-filter-bar{
    padding-top: calc(.5 * var(--bs-card-spacer-y));
}

.table-filter-bar .btn {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

/* alignment of certain data types within collections */
.collectionContentsAsAjaxTablePanel table.contents .scalarPanelTextFieldNumeric {
    text-align: right;
    text-align: -moz-right;
    text-align: -webkit-right;
}
.collectionContentsAsAjaxTablePanel table.contents .scalarPanelTextFieldWithTemporalPicker {
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.collectionContentsAsAjaxTablePanel table.contents {
    font-size: 0.9em;
    width: 100%;
    border-collapse:collapse;
    margin-top:10px;
}

.collectionContentsAsAjaxTablePanel table.contents caption { 
    text-align: left; 
}

.collectionContentsAsAjaxTablePanel table.contents #message {
    padding-left: 3px;
}
.collectionContentsAsAjaxTablePanel table.contents caption {
    padding-bottom: 2px;
}

.collectionContentsAsAjaxTablePanel table.contents input:disabled {
    background-color: transparent;
    border: none;
}

.collectionContentsAsAjaxTablePanel table.contents .javaMathBigDecimalPanel,
.collectionContentsAsAjaxTablePanel table.contents .javaMathBigIntegerPanel,
.collectionContentsAsAjaxTablePanel table.contents .bytePanel,
.collectionContentsAsAjaxTablePanel table.contents .shortPanel,
.collectionContentsAsAjaxTablePanel table.contents .integerPanel,
.collectionContentsAsAjaxTablePanel table.contents .longPanel,
.collectionContentsAsAjaxTablePanel table.contents .floatPanel,
.collectionContentsAsAjaxTablePanel table.contents .doublePanel {
    text-align: right;
/*    font-family: monospace;*/
}

.collectionContentsAsAjaxTablePanel table.contents .booleanPanel {
    text-align: center;
}

.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigatorLabel {
    float: left;
}


.collectionContentsAsAjaxTablePanel table.contents tr.navigation div.navigator {
    float: right;
}

.collectionContentsAsAjaxTablePanel table.contents img {
    width: 16px;
    height: 16px;
}

.collectionContentsAsAjaxTablePanel table.contents tbody .togglebox-column {
    width: 2%;
}
.collectionContentsAsAjaxTablePanel table.contents thead .title-column,
.collectionContentsAsAjaxTablePanel table.contents tbody .title-column {
    text-align: center;
    width: 3%;
}

.collectionContentsAsAjaxTablePanel table.contents tbody .title-suppressed {
    font-size: 1.25em;
}

.collectionContentsAsAjaxTablePanel table.contents tbody a:hover {
  text-decoration:underline
}

.collectionContentsAsAjaxTablePanel table.contents .entityLinkSelect2Panel .entityImage {
    padding-right:6px;
}

.collectionContentsAsAjaxTablePanel table tfoot {
    margin-top:20px;
}

.collectionContentsAsAjaxTablePanel table tfoot tr td {
    padding:20px 4px 0;
    /*background-color:#FFFFFF !important;*/
}

.collectionContentsAsAjaxTablePanel .entityActions {
    margin-top: -1px;
    margin-bottom: -10px;
    float: left;
    padding:0 0;
}

/* bootstrap seems to set to 'pointer'
.collectionContentsAsAjaxTablePanel label:hover {
    cursor: default;
}
*/

.collectionContentsAsAjaxTablePanel div input[type=text][disabled] {
    padding: 0;
}

.collectionContentsAsAjaxTablePanel table tr td:first-child,
.collectionContentsAsAjaxTablePanel table tr th:first-child {
    border-left: none;
}

.collectionContentsAsAjaxTablePanel table tr th:last-child,
.collectionContentsAsAjaxTablePanel table tr td:last-child {
    border-right: none;
}

.collectionContentsAsAjaxTablePanel .table-responsive {
    overflow-x: auto;
    padding-bottom: 10px;
}

.collectionContentsAsAjaxTablePanel table tbody tr:last-child td {
    border-bottom: none;
}

.collectionContentsAsAjaxTablePanel table tfoot tr:first-child td {
    border-top: none;
    border-bottom: none;
}

.collectionContentsAsAjaxTablePanel .table {
    margin-bottom: 0px;
}

.collectionContentsAsAjaxTablePanel tfoot tr {
 	border: none;
}