/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */
.linksSelectorPanel .viewLinks {
    float:right;
    display:block;
}

.linksSelectorPanel ul.dropdown-menu {
    min-width: 0;
}

.linksSelectorPanel ul.dropdown-menu li.viewItem {
    min-width: 0;
}

.linksSelectorPanel ul.viewList li.viewItem:first-child span {
    border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
}

.linksSelectorPanel ul.viewList li.viewItem:last-child span {
    border-radius:0 4px 4px 0;
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
}


.linksSelectorPanel .link-selector-panel-invisible {
    display:none;
}

.linksSelectorPanel .list-inline {
    margin-left: 0;
}

.linksSelectorPanel .list-inline li {
    padding-left: 0;
}


.collectionContentsLinksSelectorPanel select {
	margin-bottom: 1em;
}
