<?xml version="1.0"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements. See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership. The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License. You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<plugin
   id="org.apache.causeway.persistence.jdo.datanucleus"
   name="Apache Causeway Persistence JDO DataNucleus Implementation"
   provider-name="Apache Causeway">

    <!--
    http://www.datanucleus.org/extensions/rdbms_java_types.html
    -->
    <extension point="org.datanucleus.store.rdbms.java_mapping">
        <mapping
            java-type="org.apache.causeway.applib.value.Blob"
            mapping-class="org.apache.causeway.persistence.jdo.datanucleus.valuemappings.CausewayBlobMapping"/>
        <mapping
            java-type="org.apache.causeway.applib.value.Clob"
            mapping-class="org.apache.causeway.persistence.jdo.datanucleus.valuemappings.CausewayClobMapping"/>

    </extension>


    <!--
    https://github.com/datanucleus/docs-accessplatform/blob/master/src/main/asciidoc/extensions/_extensions_rdbms_column_mapping.adoc
    -->
    <extension point="org.datanucleus.store.rdbms.column_mapping">
        <mapping
                java-type="[B"
                jdbc-type="BLOB"
                sql-type="BLOB"
                default="true"
                column-mapping-class="org.apache.causeway.persistence.jdo.datanucleus.valuemappings.ByteArrayBlobRdbmsMapping">
        </mapping>
        <mapping
                java-type="[Ljava.lang.Byte;"
                jdbc-type="BLOB"
                sql-type="BLOB"
                default="true"
                column-mapping-class="org.apache.causeway.persistence.jdo.datanucleus.valuemappings.ByteArrayBlobRdbmsMapping">
        </mapping>
    </extension>

    <!--
    http://www.datanucleus.org/extensions/java_types.html
    -->

    <extension point="org.datanucleus.java_type">
        <java-type
                name="java.time.ZonedDateTime"
                dfg="true" priority="10"
                converter-name="iso.zoneddatetime-string" />
    </extension>

	<extension point="org.datanucleus.java_type">
        <java-type
                name="java.time.OffsetDateTime"
                dfg="true" priority="10"
                converter-name="iso.offsetdatetime-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="java.time.OffsetTime"
                dfg="true" priority="10"
                converter-name="iso.offsettime-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="java.awt.image.BufferedImage"
                dfg="true" priority="10"
                converter-name="causeway.bufferedimage-bytearray" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.applib.value.Password"
                dfg="true"
                converter-name="causeway.password-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.applib.value.Markup"
                dfg="true"
                converter-name="causeway.markup-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.applib.value.LocalResourcePath"
                dfg="true"
                converter-name="causeway.localresourcepath-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.applib.services.bookmark.Bookmark"
                dfg="true"
                converter-name="causeway.bookmark-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.schema.chg.v2.ChangesDto"
                dfg="true"
                converter-name="causeway.changesdtov2-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.schema.common.v2.OidDto"
                dfg="true"
                converter-name="causeway.oiddtov2-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.schema.cmd.v2.CommandDto"
                dfg="true"
                converter-name="causeway.commanddtov2-string" />
    </extension>

    <extension point="org.datanucleus.java_type">
        <java-type
                name="org.apache.causeway.schema.ixn.v2.InteractionDto"
                dfg="true"
                converter-name="causeway.interactiondtov2-string" />
    </extension>

    <!--
    http://www.datanucleus.org/extensions/type_converter.html
    -->

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="iso.zoneddatetime-string"
                member-type="java.time.ZonedDateTime"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.time.ZonedDateTimeConverterForJdo"/>
    </extension>

	<extension point="org.datanucleus.type_converter">
        <type-converter
                name="iso.offsetdatetime-string"
                member-type="java.time.OffsetDateTime"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.time.OffsetDateTimeConverterForJdo"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="iso.offsettime-string"
                member-type="java.time.OffsetTime"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.time.OffsetTimeConverterForJdo"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.bufferedimage-bytearray"
                member-type="java.awt.image.BufferedImage"
                datastore-type="[B"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.image.JavaAwtBufferedImageByteArrayConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.password-string"
                member-type="org.apache.causeway.applib.value.Password"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.applib.CausewayPasswordConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.markup-string"
                member-type="org.apache.causeway.applib.value.Markup"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.applib.CausewayMarkupConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.localresourcepath-string"
                member-type="org.apache.causeway.applib.value.LocalResourcePath"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.applib.CausewayLocalResourcePathConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.bookmark-string"
                member-type="org.apache.causeway.applib.services.bookmark.Bookmark"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.applib.CausewayBookmarkConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.changesdtov2-string"
                member-type="org.apache.causeway.schema.chg.v2.ChangesDto"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.schema.v2.CausewayChangesDtoConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.oiddtov2-string"
                member-type="org.apache.causeway.schema.common.v2.OidDto"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.schema.v2.CausewayOidDtoConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.commanddtov2-string"
                member-type="org.apache.causeway.schema.cmd.v2.CommandDto"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.schema.v2.CausewayCommandDtoConverter"/>
    </extension>

    <extension point="org.datanucleus.type_converter">
        <type-converter
                name="causeway.interactiondtov2-string"
                member-type="org.apache.causeway.schema.ixn.v2.InteractionDto"
                datastore-type="java.lang.String"
                converter-class="org.apache.causeway.persistence.jdo.datanucleus.typeconverters.schema.v2.CausewayInteractionDtoConverter"/>
    </extension>

</plugin>
