/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */
div.entityLink  {
	display: inline
}

div.entityLink > div {
	margin-left: 2px;
}

.entityLink .entityImage {
	width: 16px;
	height: 16px;
}

.entityLink table.findUsing {
	display: inline-table;
	font-size: smaller;
}

a.entityDetailsLink {
	text-align: left;
	border: 1px  #00477F solid;
	white-space:nowrap;
	margin:0em;

	margin-left: 5px;
	font-weight: normal;
	cursor:default;
	font-size: smaller;
	
	color: #00477F;
	background-color: #EEEEEE;
	text-decoration:none;
	/*
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	*/ 
}

a.entityClearLink {
	display:inline-table;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: smaller;
}
a.entityDetailsLink {
	display:inline;
	font-family: monospace;
	margin-left: 20px;
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}

a.entityDetailsLink:hover {
	color: #D7E7F5;
	background-color: #407098;
}


.entityDetails {
	width: 400px;
	padding-top: 20px;
	margin-left: -30px;
}

.entityDetails a.entityDetailsLink {
	display:none; /* don't nest forever */
}


