/*
 *  Licensed to the Apache Software Foundation (ASF) under one
 *  or more contributor license agreements.  See the NOTICE file
 *  distributed with this work for additional information
 *  regarding copyright ownership.  The ASF licenses this file
 *  to you under the Apache License, Version 2.0 (the
 *  "License"); you may not use this file except in compliance
 *  with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing,
 *  software distributed under the License is distributed on an
 *  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 *  KIND, either express or implied.  See the License for the
 *  specific language governing permissions and limitations
 *  under the License.
 */

.bookmarkedPagesPanel .bookmarkedPagesPanelHolder .bookmarkedPagesList {
    margin-top:30px;
}

.bookmarkedPagesPanel .bookmarkedPagesPanelHolder .bookmarkedPageItem {
    margin-top:10px;
    margin-bottom:10px;
}

.bookmarkedPagesPanel .bookmarkedPagesPanelHolder span.bookmarkedPageImageAndTitle:hover {
    background-color:#FFFFFF;
}

.bookmarkedPagesPanel .bookmarkedPagesList a img.bookmarkedPageImage {
    background-color: transparent;
    width: 16px;
    height: 16px;
}

.bookmarkedPagesPanel .bookmarkRibbon {
	cursor:pointer;
	position: fixed;
	top: 0;left: 1px;
	z-index: 1997;
	font-size: 48px;
	transform: scale(0.33,1) translateX(-100%);
}

.bookmarkedPagesPanel #bookmarkedPagesSlidingDiv {
    position:fixed;
    left:0;
    top:0;
    width:500px;
    z-index: 1998;
    display: none;
}

.bookmarkedPagesPanel #bookmarkedPagesSlidingDiv .content {
    width:490px;
}

.content>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.content>.list-group .list-group-item {
    border-width: 0 0;
}
.content>.list-group {
    margin-bottom: 0;
}
.content .list-group-item {
    border-radius:0;
    /*background-color: inherit;*/
}

.content .list-group .list-group {
    margin: 10px 0 0;
}
.content .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
.content .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

.content div.list-group div.list-group{margin: 0;}
.content div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd;border-bottom: 0;padding-left: 30px;}
#bookmarkedPagesSlidingDiv .panel-group {margin-bottom: 0}


ul#bookmarkedPages li.list-group-item.bookmarkDepth0 {
}
ul#bookmarkedPages li.list-group-item.bookmarkDepth1 {
    margin-left: 20px;
}
ul#bookmarkedPages li.list-group-item.bookmarkDepth2 {
    margin-left: 40px;
}
ul#bookmarkedPages li.list-group-item.bookmarkDepth3 {
    margin-left: 60px;
}
ul#bookmarkedPages li.list-group-item.bookmarkDepth4 {
    margin-left: 80px;
}
ul#bookmarkedPages li.list-group-item.bookmarkDepth5 {
    margin-left: 100px;
}
