<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: StarObjects
    Description: 
StarObjects' checkstyle configuration; based on eclipse-cs' slightly modified version of Sun Checks that better matches the default code formatter setting of Eclipse.
-->
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    <module name="FileContentsHolder"/>
    <module name="JavadocStyle"/>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <!--
    INCORRECTLY FLAGS UP IMPORTS AS UNUSED
    THAT *ARE* USED IN JAVADOC
    <module name="UnusedImports"/>
    -->
    <module name="LineLength">
      <property name="max" value="120"/>
      <property name="tabWidth" value="4"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="50"/>
    </module>
    <module name="ParameterNumber">
      <property name="max" value="5"/>
    </module>
    <module name="EmptyForIteratorPad"/>
    <module name="MethodParamPad"/>
    <module name="NoWhitespaceAfter">
      <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS"/>
    </module>
    <!--
    <module name="NoWhitespaceBefore"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>
    -->
    <!--
    <module name="OperatorWrap"/>
    -->
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock"/>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly"/>
    <module name="DoubleCheckedLocking"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="IllegalInstantiation"/>
    <module name="InnerAssignment"/>
    <!--
    <module name="MagicNumber"/>
    -->
    <module name="MissingSwitchDefault"/>
    <module name="RedundantThrows">
      <property name="logLoadErrors" value="true"/>
      <property name="suppressLoadErrors" value="true"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="DesignForExtension">
      <property name="severity" value="ignore"/>
    </module>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier"/>
    <module name="ArrayTypeStyle"/>
    <module name="FinalParameters"/>
    <module name="TodoComment">
      <property name="severity" value="ignore"/>
    </module>
    <module name="UpperEll"/>
    <module name="BooleanExpressionComplexity"/>
    <module name="ClassDataAbstractionCoupling"/>
    <module name="ClassFanOutComplexity"/>
    <module name="CyclomaticComplexity"/>
    <module name="JavaNCSS"/>
    <module name="NPathComplexity"/>
    <module name="AnonInnerLength"/>
    <module name="DefaultComesLast"/>
    <module name="CovariantEquals"/>
    <module name="FallThrough"/>
    <module name="IllegalCatch">
      <property name="severity" value="ignore"/>
    </module>
    <module name="IllegalThrows"/>
    <module name="ModifiedControlVariable"/>
    <module name="MultipleStringLiterals">
      <property name="severity" value="ignore"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedTryDepth">
      <property name="max" value="2"/>
    </module>
    <module name="PackageDeclaration"/>
    <module name="StringLiteralEquality"/>
    <module name="SuperFinalize"/>
    <!--
    CheckStyle 5
    <module name="MissingDeprecated"/>
    <module name="MissingOverride"/>
    <module name="PackageAnnotation"/>
    <module name="SuppressWarnings"/>
    <module name="ClassTypeParameterName"/>
    <module name="MethodTypeParameterName"/>
    <module name="OuterTypeNumber"/>
    -->
  </module>
  <module name="NewlineAtEndOfFile">
    <property name="severity" value="ignore"/>
  </module>
  <module name="Translation"/>
 
  <module name="SeverityMatchFilter"/>
  <module name="SuppressionFilter"/>
  <module name="SuppressionCommentFilter"/>

  <!--
  CheckStyle 5
  <module name="FileLength"/>
  <module name="FileTabCharacter">
    <property name="severity" value="ignore"/>
  </module>
  <module name="SuppressWithNearbyCommentFilter"/>
  -->
  
</module>
