<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<html xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>
            <header class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.app-actions">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" wicket:id="applicationName">
                        <span wicket:id="brandText"></span>
                        <img alt="Brand" wicket:id="brandLogo"/>
                    </a>
                </div>
                <div class="navbar-collapse app-actions collapse navbar-left">
                    <ul class="nav navbar-nav" wicket:id="primaryMenuBar"></ul>
                </div>
                <div class="navbar-collapse app-actions collapse navbar-right">
                    <ul class="nav navbar-nav" wicket:id="secondaryMenuBar"></ul>
                    <ul class="nav navbar-nav tertiary">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom: 5px;">
                                <span wicket:id="userIcon">
                                    <i class="fa fa-fw fa-user"></i>
                                </span>
                                <img class="avatar" alt="Avatar" wicket:id="userAvatar" />
                                <span class="userName" wicket:id="userName"></span>
                                <span class="caret"></span>
                            </a>
                            <ul wicket:id="tertiaryMenuBar" class="dropdown-menu" role="menu" style="min-width: 0px;">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            </header>
        </wicket:panel>
    </body>
</html>
