<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>
            <li class="dropdown" wicket:id="menuItems">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><span wicket:id="name"></span> <span class="caret"></span></a>
                <ul wicket:id="topMenu" class="dropdown-menu scrollable-menu multi-level" role="menu">
                    <li wicket:id="subMenuItems">
                        <wicket:container wicket:id="content"></wicket:container>
                    </li>
                </ul>
            </li>

            <wicket:fragment wicket:id="leafItem">
                <a class="menuLink" wicket:id="menuLink">
                    <span class="menuLinkLabel" wicket:id="menuLinkLabel"></span>
                </a>
            </wicket:fragment>

            <wicket:fragment wicket:id="folderItem">
                <a wicket:id="folderName" tabindex="-1"></a>
                <ul class="dropdown-menu">
                    <li wicket:id="subMenuItems">
                        <wicket:container wicket:id="content"></wicket:container>
                    </li>
                </ul>
            </wicket:fragment>

            <wicket:fragment wicket:id="empty">
            </wicket:fragment>


        </wicket:panel>
    </body>
</html>
