<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
    <body>
        <wicket:panel>

            <li wicket:id="subMenuItems">
                <wicket:container wicket:id="content"></wicket:container>
            </li>

            <li class="divider" wicket:id="divider"></li>

            <li>
                <a class="menuLink" wicket:id="logoutLink" >
                    <span class="fontAwesomeIcon fa fa-fw fa-sign-out"></span>
                    <span class="menuLinkLabel">
                        <wicket:message key="logoutLabel"></wicket:message>
                    </span>
                </a>
            </li>

            <wicket:fragment wicket:id="leafItem">
                <a class="menuLink" wicket:id="menuLink">
                    <span class="menuLinkLabel" wicket:id="menuLinkLabel"></span>
                </a>
            </wicket:fragment>


        </wicket:panel>
    </body>
</html>
