svg {
  background: #333;
}
.CodeMirror, .CodeMirror-scroll {
  height:auto;
}

#execute {
   font-size:30px;
   position:absolute;
   top: 0.6em;
   right: 10em;
}

#neo4jUrl {
   position:absolute;
   right: 5px;
   top: 1em;
   z-index: 100;
   width: 20em;
}