.primary-1 {
    background-color: #669900;
}

.primary-2 {
    background-color: #669900;
}

.primary-3 {
    background-color: #669900;
}

.primary-4 {
    background-color: #99FF66;
}

.primary-5 {
    background-color: #CCFF99;
}

.secondary-a-1 {
    background-color: #006666;
}

.secondary-a-2 {
    background-color: #006666;
}

.secondary-a-3 {
    background-color: #006666;
}

.secondary-a-4 {
    background-color: #66CCCC;
}

.secondary-a-5 {
    background-color: #99CCCC;
}

.secondary-b-1 {
    background-color: #999900;
}

.secondary-b-2 {
    background-color: #999900;
}

.secondary-b-3 {
    background-color: #999900;
}

.secondary-b-4 {
    background-color: #FFFF66;
}

.secondary-b-5 {
    background-color: #FFFFCC;
}

.complement-1 {
    background-color: #990033;
}

.complement-2 {
    background-color: #990033;
}

.complement-3 {
    background-color: #990033;
}

.complement-4 {
    background-color: #FF6699;
}

.complement-5 {
    background-color: #FF99CC;
}



legend {
    background-color: white;
}

fieldset {
    padding-bottom: 10px;
}

span,li {
    color: white;
}
span {
    font-weight: bold;
}

li {
    padding-bottom: 10px;
    margin-bottom: 10px;
}



.isis-header {
    padding: 20px 80px 20px 40px;
    margin-right: 100px;
    background-color: #99CCCC;
    display: block;
    width: 100%;
}

.isis-header span.isis-title {
    font-size: xx-large;
    padding: 5px 80px 5px 40px;
    margin-right: 50px;
    color: black;
    background-color: #99FF66;
    display: inline-table;
    vertical-align: bottom;
}

.isis-header div.isis-actions span {
    font-size: large;
    padding: 5px 5px 5px 5px;
    display: inline-table;
}

.isis-memberGroup, .isis-collection {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

.isis-memberGroup {
    background-color: #669900;
}

.isis-collection {
    background-color: #999900;
}


div.isis-property > span {
    margin-left: 5%;
    padding-left: 10px;
    width: 90%;
    display: block;
}

fieldset div.isis-property > span {
    padding: 5px;
    margin: 10px;
    background-color: #006666;
}

.isis-header div.isis-actions,
fieldset div.isis-actions {
    margin-left: 60px;
}

fieldset.isis-collection div.isis-actions {
    margin-left: 60px;
}

.isis-header .isis-actions {
    display: inline-block;
}
        
.isis-header div.isis-action,
fieldset div.isis-action {
    display: inline-table;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #990033;
}


fieldset div.isis-action span {
    background-color: #990033;
}

.isis-memberGroups {}

.isis-memberGroup.min-height-50,
.isis-collection.min-height-50 {
    min-height: 50px;
}

.isis-memberGroup.min-height-100,
.isis-collection.min-height-100 {
    min-height: 100px;
}

.isis-memberGroup.min-height-150,
.isis-collection.min-height-150 {
    min-height: 150px;
}

.isis-memberGroup.min-height-200,
.isis-collection.min-height-200 {
    min-height: 200px;
}

.isis-memberGroup.min-height-250,
.isis-collection.min-height-250 {
    min-height: 250px;
}

.isis-memberGroup.min-height-300,
.isis-collection.min-height-300 {
    min-height: 300px;
}

.isis-memberGroup.min-height-350,
.isis-collection.min-height-350 {
    min-height: 350px;
}

.isis-memberGroup.min-height-400,
.isis-collection.min-height-400 {
    min-height: 400px;
}

.isis-memberGroup .isis-hidden {
    display: none;
}

.isis-action ul.isis-facets li {
    margin-top: 30px;
}
ul.isis-facets li {
    margin-left: 40px;
    font-size: small;
}
.isis-action ul.isis-facets li {
    margin-top: 10px;
    margin-left: 20px;
}
.isis-action ul.isis-facets li {
    font-size: small;
}
ul.isis-facets {
    line-height: 0px;
}
ul.isis-facets {
    margin:0px;
}

.isis-facets {
    display: none;
}
