<!DOCTYPE html>
<!-- Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
         
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License. -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link data-th-href="@{/css/causeway-thymeflux.css}" rel="stylesheet">
</head>
<body>

<div class="container">

	<nav class="navbar navbar-expand-lg bg-light">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Navbar</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="#">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="#">Link</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Dropdown
	          </a>
	          <ul class="dropdown-menu">
	            <li><a class="dropdown-item" href="#">Action</a></li>
	            <li><a class="dropdown-item" href="#">Another action</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Something else here</a></li>
	          </ul>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled">Disabled</a>
	        </li>
	      </ul>
	      <form class="d-flex" role="search">
	        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success" type="submit">Search</button>
	      </form>
	    </div>
	  </div>
	</nav>


    <div class="row">
        <div id="title">
            <h1>Spring WebFlux + Thymeleaf</h1>
        </div>
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="25%">Model</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            
            <tr class="result">
                <td>Branding Name</td>
                <td>[[${headerUiModel.branding.name}]]</td>
            </tr>
            <tr class="result">
                <td>Branding Logo</td>
                <td>[[${headerUiModel.branding.logoHref}]]</td>
            </tr>
            
            <tr class="result" th:each="topLevelEntry : ${headerUiModel.navbar().primary().topLevelEntries()}">
                <td>[[${topLevelEntry.name}]]</td>
                <td>[[${topLevelEntry.subEntries}]]</td>
            </tr>
            </th:block>
            <tr class="result" th:each="topLevelEntry : ${headerUiModel.navbar().secondary().topLevelEntries()}">
                <td>[[${topLevelEntry.name}]]</td>
                <td>[[${topLevelEntry.subEntries}]]</td>
            </tr>
            <tr class="result" th:each="topLevelEntry : ${headerUiModel.navbar().tertiary().topLevelEntries()}">
                <td>[[${topLevelEntry.name}]]</td>
                <td>[[${topLevelEntry.subEntries}]]</td>
            </tr>
            
            
            <tr class="result">
                <td>User</td>
                <td>[[${headerUiModel.userProfile.userMemento.name}]]</td>
            </tr>
            
            </tbody>
        </table>
        
        <label>[[${helloMsg}]]</label>
        
        
        
        
    </div>

</div>
</body>