<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
         
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<web-app id="WebApp_ID" version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Apache Isis Webapp</display-name>


    <welcome-file-list>
        <welcome-file>index.shtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>403</error-code>
        <location>/error/security_403.shtml</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error/server_500.shtml</location>
    </error-page>
 
    <error-page>
        <error-code>404</error-code>
        <location>/error/notfound_404.shtml</location>
    </error-page>

    <context-param>
        <param-name>deploymentType</param-name>
        <!-- change value to SERVER when deploying outside of development -->
        <param-value>SERVER_EXPLORATION</param-value>
    </context-param>

    
    <!-- bootstrap the Isis metamodel and runtime -->
    <listener>
        <listener-class>org.apache.isis.core.webapp.IsisWebAppBootstrapper</listener-class>
    </listener>

    <!-- optional configuration file(s) to load -->
    <context-param>
        <param-name>isis.viewers</param-name>
        <param-value>scimpi</param-value>
    </context-param>


    <!-- which configuration directory to read overloaded property files from -->
    <!-- 
    Normally configuration like this should be done from outside your web 
    application. Especially if your configuration is not know in advance or
    if it can change depending on where the application gets deployed.
    
    For instance to configure this in Tomcat outside the application WAR add
    the following line to your application context ( For more detail see:
    http://tomcat.apache.org/tomcat-7.0-doc/config/context.html#Context_Parameters )
     
    <Parameter name="isis.config.dir" value="/usr/local/tomcat/conf/"
         override="true"/>
         
    If your configuration directory is fixed you can enable the following 
    context parameter in here and forget about the outside part.
         
    <context-param>
      <param-name>isis.config.dir</param-name>
      <param-value>location of your config directory if fixed</param-value>
    </context-param>
    -->

    <!-- cache static resources for 1 day -->
    <filter>
        <filter-name>ResourceCachingFilter</filter-name>
        <filter-class>org.apache.isis.core.webapp.content.ResourceCachingFilter</filter-class>
        <init-param>
            <param-name>CacheTime</param-name>
            <param-value>86400</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.js</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResourceCachingFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>Resource</servlet-name>
        <servlet-class>org.apache.isis.core.webapp.content.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resource</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    



    <!--
    - scimpi-viewer config
    -->
    <servlet>
        <servlet-name>ScimpiDispatcher</servlet-name>
        <servlet-class>org.apache.isis.viewer.scimpi.servlet.DispatcherServlet</servlet-class>
        <!--
            The username and password parameters set up the webapp so that the user does not need to log in.
            This section should be removed if the webapp need the user to login before doing
            things with the application.  
        -->
		<init-param>
			<param-name>username</param-name>
		    <param-value>webapp</param-value>
		</init-param>
		<init-param>
		    <param-name>password</param-name>
		    <param-value>pass</param-value>
		</init-param>
 		<init-param>
            <param-name>config</param-name>
            <param-value>config.xml</param-value>
        </init-param>

        <init-param>
             <param-name>view</param-name>
             <param-value>login.shtml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScimpiDispatcher</servlet-name>
        <url-pattern>*.shtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScimpiDispatcher</servlet-name>
        <url-pattern>*.app</url-pattern>
    </servlet-mapping>

</web-app>
