<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at
  
         http://www.apache.org/licenses/LICENSE-2.0
         
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1"> 

    <display-name>Hello World</display-name>

    <welcome-file-list>
        <welcome-file>about/index.html</welcome-file>
    </welcome-file-list>

	<listener>
		<listener-class>org.apache.isis.core.webapp.IsisWebAppContextListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>isis.viewer.wicket.app</param-name>
		<param-value>domainapp.webapp.HelloWorldApplication</param-value>
	</context-param>

	<!-- this config value wins over that provided via environment variable PROTOTYPING=true/false -->
	<!-- 	<context-param> -->
	<!-- 		<param-name>isis.viewer.wicket.mode</param-name> -->
	<!-- 		<param-value>development</param-value> -->
	<!-- 	</context-param> -->


    <!-- which configuration directory to read overloaded property files from -->
    <!-- 
    By default the framework will read configuration properties from the WEB-INF
    directory (where this web.xml file resides).

    If you want to read configuration files from some other external directory,
    and the location of that external directory is the same/standardized for all
    locations where you intend to deploy the WAR file, you can uncomment the
    'isis.config.dir' context parameter, below, and set it to that standardized
    location, eg:

    <context-param>
        <param-name>isis.config.dir</param-name>
        <param-value>/usr/local/conf</param-value>
    </context-param>

    If however the location of the external directory changes from one deployment
    to another (eg system testing, UAT, production etc) then you should be
    able to override the context parameter through the servlet container's own
    (proprietary) configuration files.

    For example, if deploying to Tomcat, you can edit $CATALINA_BASE/conf/context.xml,
    and add:

    <Parameter name="isis.config.dir"
               value="/usr/local/conf/systest"
               override="false"/>

    For more detail see: http://tomcat.apache.org/tomcat-7.0-doc/config/context.html#Context_Parameters
    -->


</web-app>
