name: Build, Test (2.2.0-SNAPSHOT)

on:
  push:
    branches:
      - maintenance-branch
  pull_request:
    branches:
      - maintenance-branch

jobs:
  build:
    name: build-local-no-push
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    env:
      # to be shared among all steps of this job
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
      BASELINE: 2.2.0-SNAPSHOT
      PROJECT_ROOT_PATH: ${{ github.workspace }}
      CI_SCRIPTS_PATH: ${{ github.workspace }}/scripts/ci

      # not used, would be nice if we could transform the TIMESTAMP string into the REVISION
      # variable here, but it seems github not yet has any string expression manipulation
      # operators other than concatination
      TIMESTAMP: ${{ github.event.head_commit.timestamp }}

      # set this to 'deploy' when intent is to push the built packages to a repo
      # requires 'secrets' which we don't have yet
      MVN_STAGES: install

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 17

    - name: Print Maven Version
      run: mvn --version

    - name: Activate Cache for Maven Downloads
      uses: actions/cache@v4
      env:
        # change the cache-name if we want to rebuild the cache
        # can be reset via github action page
        cache-name: maven-shared
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-${{ env.cache-name }}
        restore-keys: |
          ${{ runner.os }}-${{ env.cache-name }}
          ${{ runner.os }}-

    - name: Setup Script Environment
      shell: bash
      run: |
        echo ==============  ENV  =================
        echo BRANCH_NAME      \: $BRANCH_NAME
        echo BASELINE         \: $BASELINE
        echo TIMESTAMP        \: $TIMESTAMP
        echo PROJECT_ROOT_PATH\: $PROJECT_ROOT_PATH
        echo CI_SCRIPTS_PATH  \: $CI_SCRIPTS_PATH
        echo MVN_STAGES       \: $MVN_STAGES
        echo ======================================

    - name: Build Artifacts
      shell: bash
      run: bash $CI_SCRIPTS_PATH/build-artifacts.sh
      env:
        # -Denforcer.failFast=true ... fail fast on convergence issues (enforcer plugin)
        # -Dmaven.source.skip=true ... no need for the CI build to pull sources
        # -Dproject.build.outputTimestamp=2023-01-01T00:00:00Z see https://maven.apache.org/guides/mini/guide-reproducible-builds.html
        # -T 1C ... 1 build thread per core
        MVN_ADDITIONAL_OPTS: >-
          -Dmodule-regressiontests
		  -Dmaven.compiler.release=11
		  -Dmaven.compiler.proc=full
		  -Dmaven.source.skip=true
		  -Dlombok.version=1.18.42
          -Denforcer.failFast=true
          -Dproject.build.outputTimestamp=2026-01-01T00:00:00Z
          -e

# FOR DEBUG USE
#   - name: Dump GitHub context
#     env:
#       ENV_CONTEXT: ${{ toJson(env) }}
#     run: echo "$ENV_CONTEXT"
#   - name: Dump GitHub context
#     env:
#       GITHUB_CONTEXT: ${{ toJson(github) }}
#     run: echo "$GITHUB_CONTEXT"
#   - name: Dump job context
#     env:
#       JOB_CONTEXT: ${{ toJson(job) }}
#     run: echo "$JOB_CONTEXT"
#   - name: Dump steps context
#     env:
#       STEPS_CONTEXT: ${{ toJson(steps) }}
#     run: echo "$STEPS_CONTEXT"
#   - name: Dump runner context
#     env:
#       RUNNER_CONTEXT: ${{ toJson(runner) }}
#     run: echo "$RUNNER_CONTEXT"
#   - name: Dump strategy context
#     env:
#       STRATEGY_CONTEXT: ${{ toJson(strategy) }}
#     run: echo "$STRATEGY_CONTEXT"
#   - name: Dump matrix context
#     env:
#       MATRIX_CONTEXT: ${{ toJson(matrix) }}
#     run: echo "$MATRIX_CONTEXT"

