/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *        http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 */

/*
 * Demonstrates use of @CollectionLayout(cssClass='red')
 */
.collections .red .card .card-header {
    background-color: red;
    color: white;
}

/*
 * Demonstrates use of @CollectionLayout(cssClass='blue')
 */
.collections .blue .card .card-header {
    background-color: dodgerblue;
    color: white;
}


/*
 * Demonstrates use of @PropertyLayout(cssClass='red')
 */
.property.red label {
    color: red;
}

.property.red input,
.property.red div.scalarValueInlinePromptLink {
    background-color: red;
    color: white;
}

/*
 * Demonstrates use of @PropertyLayout(cssClass='blue')
 */
.property.blue label {
    color: dodgerblue;
}

.property.blue input,
.property.blue div.scalarValueInlinePromptLink {
    background-color: dodgerblue;
    color: white;
}


/*
 * admonitionblock styles (ie, NOTE: TIP: CAUTION: IMPORTANT: WARNING:)
 * (taken from asciidoctor.css)
 */
.admonitionblock td.content > .title {
    line-height: 1.45;
    color: #7a2518;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: .25em
}

.admonitionblock td.content > .title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-size: 1rem;
    font-style: italic
}

.admonitionblock {
    margin-top: 10px;
    margin-bottom: 10px;
}

.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%
}

.admonitionblock > table td.icon {
    text-align: center;
    width: 80px
}

.admonitionblock > table td.icon img {
    max-width: none
}

.admonitionblock > table td.icon .title {
    font-weight: bold;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    text-transform: uppercase
}

.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #ddddd8;
    color: rgba(0, 0, 0, .6)
}

.admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 1.75em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    cursor: default
}

.admonitionblock td.icon .icon-note::before {
    content: "\f05a";
    color: #19407c
}

.admonitionblock td.icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111
}

.admonitionblock td.icon .icon-warning::before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important::before {
    content: "\f06a";
    color: #bf0000
}

/*
 * colist (callout list) styles
 * (taken then adapted from asciidoctor.css)
 */
.colist > table {
    border: 0;
    background: none
}

.colist > table > tbody > tr {
    background: none
}

.literalblock + .colist, .listingblock + .colist {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

.colist td:not([class]):first-child {
    padding: .4em .75em 0;
    line-height: 1;
    vertical-align: top
}

.colist td:not([class]):first-child img {
    max-width: none
}

.colist td:not([class]):last-child {
    padding: .25em 0
}

.colist > table > tbody > tr > td > div.paragraph > p {
    margin-bottom: 0;
}

/*
 * conum (callout number) styles
 * (taken from asciidoctor.css)
 */
.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background-color: rgba(0, 0, 0, .8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold
}

.conum[data-value] * {
    color: #fff !important
}

.conum[data-value] + b {
    display: none
}

.conum[data-value]::after {
    content: attr(data-value)
}

pre .conum[data-value] {
    position: relative;
    top: -.125em
}

b.conum * {
    color: inherit !important
}

.conum:not([data-value]):empty {
    display: none
}


/*
 * Miscellaneous other styles
 */
.welcome {
    font-size: 16px;
}

div.paragraph a {
    text-decoration: underline dotted;
}

div.paragraph a:hover{
    text-decoration: underline solid;
}

div.paragraph a.a-has-code {
    text-decoration-color: #c7254e;
}

div.paragraph a.a-has-code:hover {
    text-decoration-color: #c7254e;
}

div.sectionbody > div.ulist > ul {
    margin-left: -23px;
}

div.sectionbody > div.listingblock > div.title {
    font-style: italic;
    color: #c7254e;
}

header.navbar-fixed-top {
    position: sticky;
}

table.tableblock .halign-center {
    text-align: center;
}

table.tableblock .valign-top {
    vertical-align: top;
}

table.tableblock td.tableblock > div.content > div.ulist > ul {
    padding-inline-start: 20px;
}

table.tableblock > thead > tr > th.halign-center {
    padding-top: 10px;
    padding-bottom: 10px;
}

table.tableblock > tbody > tr.tableblock  {
    padding: 10px;
}

table.tableblock.grid-all,
table.tableblock.grid-all th.tableblock,
table.tableblock.grid-all td.tableblock {
    border: 1px solid #ddddd8;
}

table.tableblock.grid-all th.tableblock {
    background-color: #eeeee8;
}

table.tableblock.grid-all td.tableblock {
    padding: 5px;
}

div.listingblock div.title {
    font-style: italic;
    color: darkred;
}

/* customized Prism theme COY */
.listingblock pre[class*="language-"]::after,
.listingblock pre[class*="language-"]::before {
	box-shadow: none;
}


div.sectionbody > div.ulist {
    margin-left: 10px;
}

tr.even.custom > td,
tr.odd.custom > td,
.entityPage.custom .iconAndTitle span
{
    font-style: italic;
    color: orangered;
}

tr.even.custom1 > td,
tr.odd.custom1 > td,
.entityPage.custom1 .iconAndTitle span
{
    font-style: italic;
    color: #00bf00;
}

tr.even.custom2 > td,
tr.odd.custom2 > td,
.entityPage.custom2 .iconAndTitle span
{
    font-style: italic;
    color: blueviolet;
}

.line-through {
    text-decoration: line-through;
}

.navbar-nav.primary ul.dropdown-menu,
.navbar-nav.secondary ul.dropdown-menu,
.navbar-nav.tertiary ul.dropdown-menu {
    max-height: 840px;
}

div.sect1 > h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}
div.sect2 > h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
div.sect3 > h4 {
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
}

img.navbar-brand-logo {
    height: 30px;
}

#fieldSet-sources span.scalarValueInput div.additionalButtons {
    display: none;
}